# Selenium Assignment 2

In [1]:
# lets first install the selenium library
# !pip install selenium

In [3]:
# Now we will download the webdriver for the web browser. The Steps for downloading the web driver for your browser are:
# 1. Check the version of your browser
# 2. Go to the link - chromedriver.chromium.org/downloads
# 3. Download the web driver for your version of browser
# Now these steps are for chrome browser. The download link will be different mozilla etc.

In [38]:
# import all required libraries
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

## Answer 1

In [8]:
# lets first connect to the webdriver
driver = webdriver.Chrome("E:/chromedriver.exe")  # Downloaded Chrome path
url = "https://www.naukri.com/"
driver.get(url)
driver.maximize_window()

search_job = driver.find_element_by_id('qsb-keyword-sugg')
time.sleep(2)
search_job.send_keys("Data Analyst")   # Enter “Data Analyst” in “Skill, Designations, Companies” field
search_loc = driver.find_element_by_xpath("//input[@id = 'qsb-location-sugg']")

time.sleep(2)
search_loc.send_keys("Bangalore")    # Enter “Bangalore” in “enter the location” field

search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
time.sleep(2)    
search_btn.click()     # click the search button

In [9]:
time.sleep(5) 
cross_chatbot = driver.find_element_by_xpath("//div[@class = 'crossIcon chatBot chatBot-ic-cross']")
cross_chatbot.click()   # Crossing the chatbot

time.sleep(5)
location_cross = driver.find_element_by_xpath("//span[@id = 'block']")
location_cross.click()   # Crossing the location to the "later" option 

job_titles = []
company_names = []
experience_list = []
locations_list = []

# extraction of  all the tags
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")  
company_n_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
exp_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]") 

# Appending List for their respective list 
for i in range (10):
    job_titles.append(titles_tags[i].text)
    experience_list.append(exp_tags[i].text)
    company_names.append(company_n_tags[i].text)
    locations_list.append(location_tags[i].text) 

# print(job_titles)
# print('___________________________________________________________________________________________')
# print(company_names)
# print('___________________________________________________________________________________________')
# print(experience_list)
# print('___________________________________________________________________________________________')
# print(locations_list)
# print('___________________________________________________________________________________________')

# -------------------------------------------------Preprating DataSet --------------------------------------------------
df = pd.DataFrame()
df['Job Title'] = job_titles
df['Company Name'] = company_names
df['Experience'] = experience_list
df['Location'] = locations_list
df.set_index( [[*range(1,11)]] , inplace = True)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
print("____________________________________________ Details of 10 Records _____________________________________________")
df

____________________________________________ Details of 10 Records _____________________________________________

,Job Title,Company Name,Experience,Location
1,Data Analyst - Flipkart Analytics,Flipkart,0-3 Yrs,Bangalore/Bengaluru(Bellandur)
2,Business Data Analyst - Database Design/Mining,AugmatrixGo,2-5 Yrs,Bangalore/Bengaluru
3,Urgent Openings For Data Analyst / Business An...,Flipkart,1-6 Yrs,Bangalore/Bengaluru
4,Data Analyst,Applied Materials,0-3 Yrs,Bangalore/Bengaluru
5,Data Analyst,Shell,5-8 Yrs,Bangalore/Bengaluru
6,Data Analyst,Shell,5-10 Yrs,Bangalore/Bengaluru
7,Lead / Senior Data Analyst,EVERGREEN COMMUNITY PRIVATE LIMITED,4-6 Yrs,Bangalore/Bengaluru
8,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,3-8 Yrs,"Mumbai, Bangalore/Bengaluru"
9,Business Data Analyst,NetApp,5-10 Yrs,Bangalore/Bengaluru
10,Senior Data Analyst - SQL/Tableau/Redshift,Pronto Consulting Services,6-10 Yrs,"Noida, Mumbai, Indore, Hyderabad/Secunderabad,..."

In [ ]:
driver.close() # closing the webpage which we control

## Answer 2

In [10]:
url_2 = "https://www.naukri.com/"
driver_2 = webdriver.Chrome("E:/chromedriver.exe")
driver_2.get(url_2)
driver_2.maximize_window()  # Maximising the window

# Entering input for their respective positions 
search_job = driver_2.find_element_by_id('qsb-keyword-sugg')
time.sleep(4)
search_job.send_keys("Data Scientist")  

search_loc = driver_2.find_element_by_xpath("//input[@id = 'qsb-location-sugg']")
time.sleep(4)
search_loc.send_keys("Bangalore")

search_btn_2 = driver_2.find_element_by_xpath("//div[@class='search-btn']/button")
time.sleep(4)
search_btn_2.click()  # Clicking on search button

time.sleep(10)


cross_chatbot_2 = driver_2.find_element_by_xpath("//div[@class = 'crossIcon chatBot chatBot-ic-cross']")
cross_chatbot_2.click()   # Crossing the chatbot

time.sleep(5)
location_cross_2 = driver_2.find_element_by_xpath("//span[@id = 'block']")
location_cross_2.click()   # Crossing the location to the "later" option

In [12]:
job_titles_2 = []
company_names_2 = []
locations_list_2 = []

# extraction of  all the tags
titles_tags_2 = driver_2.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")  
company_n_tags_2 = driver_2.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
location_tags_2 = driver_2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]") 

# Appending List for their respective list 
for i in range (10):
    job_titles_2.append(titles_tags_2[i].text)
    company_names_2.append(company_n_tags_2[i].text)
    locations_list_2.append(location_tags_2[i].text) 

# print('___________________________________________________________________________________________')
# print(job_titles_2)
# print('___________________________________________________________________________________________')
# print(company_names_2)
# print('___________________________________________________________________________________________')
# print(locations_list_2)
# print('___________________________________________________________________________________________')


df2 = pd.DataFrame()
df2['Title'] = job_titles_2
df2['Company Name'] = company_names_2
df2['Location'] = locations_list_2
df2.set_index( [[*range(1,11)]] , inplace = True)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
print("____________________________________________ Details of 10 Records _____________________________________________")
df2

____________________________________________ Details of 10 Records _____________________________________________

,Title,Company Name,Location
1,Forecasting Analyst/ Data Scientist (US Client),Concentrix Daksh Services,"Gurgaon/Gurugram, Bangalore/Bengaluru"
2,Senior Data Scientist,Convergence Infotech Ltd,Bangalore/Bengaluru(Sadashiva Nagar)
3,Senior Data Scientist | Fortune 500 Supermarke...,TALENT500 TECH (INDIA) PRIVATE LIMITED,Bangalore/Bengaluru
4,Associate Data Scientist,Mavenir,Bangalore/Bengaluru
5,Looking For Senior Data Scientist Immediate Jo...,Mount Talent Consulting Private Limited,Bangalore/Bengaluru
6,Data Scientist,Cerner Corporation,Bangalore/Bengaluru
7,Principal Data Scientist,Walmart Labs,Bangalore/Bengaluru
8,Data Scientist,CoffeeBeans,Bangalore/Bengaluru
9,Data Scientist,Oracle India Pvt. Ltd.,Bangalore/Bengaluru
10,Looking For Senior Data Scientist Immediate Jo...,Mount Talent Consulting Private Limited,Bangalore/Bengaluru

In [13]:
driver_2.close()

## Answer 3

In [14]:
driver_3 = webdriver.Chrome("E:/chromedriver.exe")
url3 = "https://www.naukri.com/"
driver_3.get(url3)  # giving url of webpage which we have to control for getting desired data
driver_3.maximize_window()  # Maximising the window


# Entering input in the Designation search cell 
search_job_3 = driver_3.find_element_by_id('qsb-keyword-sugg')
time.sleep(4)
search_job_3.send_keys("Data Scientist") 

search_btn_3 = driver_3.find_element_by_xpath("//div[@class='search-btn']/button")
time.sleep(4)
search_btn_3.click()  # Clicking on search button

# ------------------------------removing all the chatbot--------------------------------

time.sleep(10)

cross_chatbot_3 = driver_3.find_element_by_xpath("//div[@class = 'crossIcon chatBot chatBot-ic-cross']")
cross_chatbot_3.click()   # Crossing the chatbot
time.sleep(5)
location_cross_3 = driver_3.find_element_by_xpath("//span[@id = 'block']")
location_cross_3.click()   # Crossing the location to the "later" option 

# ---------------------------------------Applying filter here------------------------------------------------
time.sleep(4)
salary_filter_3 = driver_3.find_element_by_xpath("//span[text() = '0-3 Lakhs']")
salary_filter_3.click()

time.sleep(4)
location_filter_3 = driver_3.find_element_by_xpath("//span[text() = 'Delhi / NCR']")
location_filter_3.click()

In [15]:
# ---------------------------------------------------Data Extraction-----------------------------------------------------
job_title_3 = []
location_3 = []
company_name_3 = []
experience_3 = []

job_t_3 = driver_3.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
job_loc_3 = driver_3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
c_name_3 = driver_3.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")
exp_t_3 = driver_3.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi experience']/span")
# print(job_loc[0].text)

for i in range (10):
    job_title_3.append(job_t_3[i].text)
    location_3.append(job_loc_3[i].text)
    company_name_3.append(c_name_3[i].text)
    experience_3.append(exp_t_3[i].text)
    
    
# print(job_title_3)
# print('_____________________________________________________________________________________________________')
# print(location_3)
# print('_____________________________________________________________________________________________________')
# print(company_name_3)
# print('_____________________________________________________________________________________________________')
# print(experience_3)
# print('_____________________________________________________________________________________________________')


df_3 = pd.DataFrame()
df_3['Job Title'] = job_title_3
df_3['Location'] = location_3
df_3['Company Name'] = company_name_3
df_3['Experience'] = experience_3
df_3.set_index( [[*range(1,11)]] , inplace = True)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
print('_________________ Data for Data Scientist with filter of DLI NCR and also with filter of 0-3 lakh________________')
df_3

_________________ Data for Data Scientist with filter of DLI NCR and also with filter of 0-3 lakh________________

,Job Title,Location,Company Name,Experience
1,"Data Scientist, Energy modelling",Remote,CEPA,0-5 Yrs
2,Data Scientist,Noida,SVK Global Solutions Private Limited,6-10 Yrs
3,Machine Learning Developer - Data Scientist,Noida,Compass Systems Private Limited,3-8 Yrs
4,Data Scientist ( Solar Industry ) 2-5 Yrs @ De...,"Noida, Delhi / NCR",Reckon HR consulting,2-5 Yrs
5,Immediate Opening For Data Scientist @ Delhi/NCR,"Noida, Gurgaon/Gurugram, Delhi / NCR",Truetech Solutions Private Limited,3-5 Yrs
6,Need Immediate Joiner For Data Scientist,Gurgaon/Gurugram,Truetech Solutions Private Limited,8-10 Yrs
7,Data Scientist,Noida,Gauge Data Solutions Pvt Ltd,2-7 Yrs
8,Data Scientist ( Solar Industry ) 2-5 Yrs @ De...,"Noida, Delhi / NCR",Reckon HR consulting,2-5 Yrs
9,"Developers, Data Scientists, Web Designers, An...",Noida,Cogmac Technologies,1-5 Yrs
10,Data Analyst/Engineer,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Wipro Limited,6-10 Yrs

In [16]:
driver_3.close()

## Answer_4

In [17]:
driver_4 = webdriver.Chrome("E:/chromedriver.exe")
driver_4.get("https://www.flipkart.com/")
driver_4.maximize_window()
time.sleep(1.5)
driver_4.find_element_by_xpath("//button[@class = '_2KpZ6l _2doB4z']").click()
time.sleep(1.5)
driver_4.find_element_by_xpath("//input[@name = 'q']").send_keys("sunglasses")
time.sleep(1)
driver_4.find_element_by_xpath("//button[@class = 'L0Z3Pu']").click()


# ------------------------------------------url extraction for different different pages -------------------------------------
page_url_4 = [] 
url1_4 = 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'
page_url_4.append(url1_4)  # first link is given because first link has different link pattern

for page in range (2,4):
    p_url_4 = 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=' + str(page)
    page_url_4.append(p_url_4)

In [18]:
#------------------------------------------------------------------------------------------------------------------------------
brand_4 = []
desc_4 = []
prize_4 = []
for p_4 in page_url_4:
    time.sleep(2)
    driver_4.get(p_4)   # extracting data for each page

    brand_tag_4 = driver_4.find_elements_by_xpath("//div[@class='_2WkVRV']")
    desc_tag_4 = driver_4.find_elements_by_xpath("//a[@class='IRpwTa']")
    prize_tag_4 = driver_4.find_elements_by_xpath("//div[@class='_30jeq3']")

    for ele1, ele2, ele3 in  zip(brand_tag_4, desc_tag_4, prize_tag_4):
        brand_4.append(ele1.text)
        desc_4.append(ele2.text)
        prize_4.append(int(ele3.text.replace('₹','').replace(',','')))
        
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df_4 = pd.DataFrame()
df_4 ['Brand Name'] =  brand_4[0:100]
df_4 ['Description'] =  desc_4[0:100]
df_4 ['Prize'] =  prize_4[0: 100]
df_4.set_index( [[*range(1, df_4.shape[0]+1)]]  , inplace=True)

print("_______________________________________100 Sun glasses data from flipkart.com_________________________________________")
df_4

_______________________________________100 Sun glasses data from flipkart.com_________________________________________

,Brand Name,Description,Prize
1,VINCENT CHASE,UV Protection Aviator Sunglasses (53),999
2,VINCENT CHASE,UV Protection Aviator Sunglasses (53),999
3,Elligator,UV Protection Round Sunglasses (54),264
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),513
5,PIRASO,UV Protection Aviator Sunglasses (54),200
6,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",177
7,SRPM,UV Protection Wayfarer Sunglasses (56),188
8,VINCENT CHASE,UV Protection Aviator Sunglasses (Free Size),999
9,PIRASO,UV Protection Aviator Sunglasses (54),200
10,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),329
11,New Specs,UV Protection Rectangular Sunglasses (Free Size),259
12,Fravy,"UV Protection, Gradient, Night Vision Retro Sq...",339
13,kingsunglasses,UV Protection Round Sunglasses (54),189
14,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",276
15,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",269
16,VINCENT CHASE,UV Protection Aviator Sunglasses (Free Size),999
17,GANSTA,UV Protection Aviator Sunglasses (57),254
18,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),499
19,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",259
20,VINCENT CHASE,"Polarized, UV Protection Wayfarer Sunglasses (57)",999
21,Rich Club,Polarized Round Sunglasses (48),179
22,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),296
23,HIPPON,UV Protection Wayfarer Sunglasses (55),231
24,Fravy,"UV Protection, Others Retro Square Sunglasses ...",289
25,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",349
26,hipe,"Mirrored, UV Protection, Gradient Round Sungla...",189
27,Elligator,UV Protection Aviator Sunglasses (55),294
28,VINCENT CHASE,"Polarized, UV Protection Aviator Sunglasses (58)",999
29,Elligator,UV Protection Round Sunglasses (55),239
30,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...",215
31,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",189
32,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",999
33,PIRASO,UV Protection Aviator Sunglasses (54),200
34,kingsunglasses,"UV Protection, Others Round, Aviator Sunglasse...",189
35,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),246
36,elegante,UV Protection Oval Sunglasses (Free Size),359
37,Lee Topper,"Riding Glasses, Night Vision Wrap-around Sungl...",276
38,SRPM,UV Protection Wayfarer Sunglasses (53),220
39,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",325
40,VINCENT CHASE,"Polarized, UV Protection Wayfarer Sunglasses (57)",999
41,hipe,"UV Protection, Gradient, Mirrored, Riding Glas...",209
42,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",329
43,ROYAL SON,Mirrored Aviator Sunglasses (55),359
44,VINCENT CHASE,UV Protection Aviator Sunglasses (53),999
45,Fastrack,UV Protection Wayfarer Sunglasses (55),694
46,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),649
47,kingsunglasses,"UV Protection, Mirrored Round Sunglasses (Free...",249
48,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",325
49,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",509
50,Singco India,UV Protection Round Sunglasses (Free Size),229
51,hipe,"UV Protection, Night Vision, Riding Glasses, G...",189
52,VINCENT CHASE,"Polarized, UV Protection Wayfarer Sunglasses (57)",999
53,povty,UV Protection Retro Square Sunglasses (Free Size),329
54,New Specs,UV Protection Rectangular Sunglasses (Free Size),199
55,kingsunglasses,"UV Protection, Night Vision Wayfarer Sunglasse...",299
56,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",999
57,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),299
58,MAXX,UV Protection Aviator Sunglasses (Free Size),175
59,PIRASO,UV Protection Butterfly Sunglasses (65),359
60,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",325
61,Silver Kartz,UV Protection Oval Sunglasses (56),284
62,GANSTA,"UV Protection, Riding Glasses Wayfarer Sunglas...",209
63,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",329
64,VINCENT CHASE,"Polarized, UV Protection Aviator Sunglasses (58)",999
65,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",449
66,kingsunglasses,UV Protection Round Sunglasses (Free Size),299
67,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",258
68,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",325
69,kingsunglasses,UV Protection Rectangular Sunglasses (55),169
70,GANSTA,"UV Protection, Riding Glasses Aviator Sunglass...",296
71,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",249
72,VINCENT CHASE,UV Protection Aviator Sunglasses (53),999
73,Elligator,UV Protection Round Sunglasses (54),279
74,kingsunglasses,"UV Protection, Mirrored Round Sunglasses (54)",219
75,Elligator,Mirrored Round Sunglasses (53),263
76,VINCENT CHASE,UV Protection Aviator Sunglasses (Free Size),999
77,GANSTA,"UV Protection, Night Vision, Riding Glasses Av...",295
78,Rich Club,Polarized Round Sunglasses (48),179
79,PIRASO,UV Protection Wayfarer Sunglasses (32),200
80,VINCENT CHASE,UV Protection Aviator Sunglasses (Free Size),999
81,Trendy Glasses,"Mirrored, UV Protection Retro Square Sunglasse...",319
82,Lee Topper,UV Protection Round Sunglasses (Free Size),259
83,PIRASO,UV Protection Aviator Sunglasses (55),250
84,VINCENT CHASE,UV Protection Aviator Sunglasses (53),999
85,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),379
86,GANSTA,"UV Protection, Gradient, Riding Glasses Wayfar...",257
87,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",229
88,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",325
89,Fastrack,UV Protection Wayfarer Sunglasses (54),689
90,PHENOMENAL,UV Protection Round Sunglasses (53),269
91,ROYAL SON,UV Protection Round Sunglasses (50),359
92,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",999
93,Singco,UV Protection Aviator Sunglasses (Free Size),554
94,ROYAL SON,UV Protection Retro Square Sunglasses (58),449
95,AISLIN,"Toughened Glass Lens, UV Protection Rectangula...",932
96,Fravy,"UV Protection, Others Retro Square Sunglasses ...",289
97,ROYAL SON,UV Protection Round Sunglasses (50),359
98,PHENOMENAL,"UV Protection, Mirrored Round Sunglasses (Free...",219
99,Rich Club,"UV Protection, Others Round Sunglasses (48)",260
100,elegante,UV Protection Oval Sunglasses (Free Size),359

In [19]:
driver_4.close()

## Answer 5

In [20]:
def Answer5():
    
    driver_5 = webdriver.Chrome("E:/chromedriver.exe")   # Chrome download path
    driver_5.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.')
    driver_5.maximize_window()  # maximising the window
    time.sleep(2.5)
    driver_5.find_element_by_xpath("//div[@class = '_3UAT2v _16PBlm']").click()   # clicking to cross

    rating_5 = []
    review_5 = []
    full_review_5 = []

    for page_5 in range(1, 12):  # for loop  for change the page accordingly
        page_url_5 = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=' + str(page_5)
        driver_5.get(page_url_5)

        # ------------------------------locating the pointer to fetch desired data-------------------------------
        rating_tag_5 = driver_5.find_elements_by_xpath("//div[@class = '_3LWZlK _1BLPMq']")
        review_tag_5 = driver_5.find_elements_by_xpath("//p[@class= '_2-N8zT']")
        full_review_tag_5 = driver_5.find_elements_by_xpath("//div[@class= 't-ZTKy']")
        read_more_5 = driver_5.find_elements_by_xpath("//span[@class ='_1BWGvX']/span")
        #-----------------------------------------------------------------------------------------------------------
        for rat, rev, f_rev in zip (rating_tag_5, review_tag_5, full_review_tag_5):  # appending data to each list accordingly
            rating_5.append(rat.text)
            review_5.append(rev.text)
            full_review_5.append(f_rev.text)

    # print(len(rating))
    # print(len(review))
    # print(len(full_review))
    # ------------------------------------creating dataframe for each fetched record------------------------------------------
    df5 = pd.DataFrame()
    df5['Review'] = review_5
    df5['Rating'] = rating_5
    df5['Full Review'] = full_review_5
    pd.set_option('display.max_columns', None)  
    pd.set_option('display.max_rows', None)                   # for max. the rows
    df5.set_index( [[*range(1, df5.shape[0]+1)]]  , inplace=True)                  # seting index 
    print("_____________________________100 Reviews details of Iphone 11 from flipkart______________________________________")
    
    return df5

In [21]:
Answer5()

_____________________________100 Reviews details of Iphone 11 from flipkart______________________________________

,Review,Rating,Full Review
1,Brilliant,5,The Best Phone for the Money\n\nThe iPhone 11 ...
2,Simply awesome,5,Really satisfied with the Product I received.....
3,Perfect product!,5,Amazing phone with great cameras and better ba...
4,Worth every penny,5,Previously I was using one plus 3t it was a gr...
5,Fabulous!,5,This is my first iOS phone. I am very happy wi...
6,Best in the market!,5,Great iPhone very snappy experience as apple k...
7,Great product,5,Amazing Powerful and Durable Gadget.\n\nI’m am...
8,Good choice,4,So far it’s been an AMAZING experience coming ...
9,Worth every penny,5,"i11 is worthy to buy, too much happy with the ..."
10,Highly recommended,5,iphone 11 is a very good phone to buy only if ...
11,Highly recommended,5,What a camera .....just awesome ..you can feel...
12,Perfect product!,5,It’s a must buy who is looking for an upgrade ...
13,Perfect product!,5,Value for money❤️❤️\nIts awesome mobile phone ...
14,Classy product,5,Totally in love with this ❤ the camera quality...
15,Worth every penny,5,Best budget Iphone till date ❤️ go for it guys...
16,Simply awesome,5,"Excellent camera, good performance, no lag. Th..."
17,Perfect product!,5,Iphone is just awesome.. battery backup is ver...
18,Highly recommended,5,It's my first time to use iOS phone and I am l...
19,Worth every penny,5,It’s been almost a month since I have been usi...
20,Worth every penny,5,"Smooth like butter, camera like fantabulous, s..."
21,Terrific,5,Really worth of money. i just love it. It is t...
22,Wonderful,5,This is my first ever I phone. Before this I w...
23,Nice product,4,Awesome Phone. Slightly high price but worth. ...
24,Perfect product!,5,"Battery backup is extraordinary, camera is dec..."
25,Brilliant,5,"I have migrated from OP 7pro... and trust me, ..."
26,Classy product,5,Superb Product !!!\nA big and worthy upgrade f...
27,Must buy!,5,It’s an amazing product from apple and the cam...
28,Wonderful,5,I just directly switch from iphone 6s to iphon...
29,Good choice,4,Looking so good 👍 😍 super 👌 stylish 😎 phone\nC...
30,Perfect product!,5,After 1 month use I found camera quality best ...
31,Terrific purchase,5,Upgraded from iphone 6 to 11 best phone for ip...
32,Simply awesome,5,It's very high performances devise i am like t...
33,Great product,5,Well you all know the specifications . One of ...
34,Terrific purchase,5,The built quality is not very premium.\nThe ba...
35,Mind-blowing purchase,5,This will help you more. See if you are planni...
36,Excellent,5,Amazing camera and feel super machine I am not...
37,Simply awesome,5,Really good actually this is my first apple pr...
38,Good quality product,4,it is very good at performance. Camera is best...
39,Very poor,5,Reviewing again after 5 months. At the beginni...
40,Perfect product!,5,It is just awesome mobile for this price from ...
41,Must buy!,5,Best Apple iPhone that i have bought at a very...
42,Fabulous!,5,I can say I'm damn impressed with iPhone 11. A...
43,Mind-blowing purchase,5,"Best Quality Product OF iPhone Series , Sound ..."
44,Mind-blowing purchase,5,First thanks to Flipkart for this amazing deal...
45,Wonderful,5,Superfast delivery by Flipkart. Thanks.\n\n1. ...
46,Great product,5,Again back to apple iphone after a gap of 2-3 ...
47,Very Good,4,impressive super phone and best in class camer...
48,Classy product,5,Well while switching from android to iOS the f...
49,Perfect product!,5,"In love with this iphone great performance,cam..."
50,Just wow!,5,Best in class. Battery backup is good especial...
51,Awesome,5,Very excited to have this phone. This phone ha...
52,Pretty good,4,I was using Iphone 6s and also Oneplus 6t. Bot...
53,Terrific purchase,5,Its Very awesome product working and good came...
54,Awesome,5,I am using this phone for 5 days and its one o...
55,Classy product,5,Best and amazing product.....phone looks so pr...
56,Brilliant,5,Excellent camera and display touching very nic...
57,Terrific,5,I got this beast today. And I must say the pic...
58,Perfect product!,5,Awesome purchase. Amazing phone with good batt...
59,Awesome,5,"Always love the apple products, upgraded from ..."
60,Perfect product!,5,Value for money\n5 star rating\nExcellent came...
61,Very poor,5,"Please DONT buy from here,\n\nI purchased Appl..."
62,Fabulous!,5,awesome phone to have. it has got many smart f...
63,Excellent,5,Its a fabulous mobile look awesome performance...
64,Must buy!,4,Dear friends... I want to share my experience ...
65,Value-for-money,5,Just got this iphone 11\nAnd it is most powerf...
66,Best in the market!,5,The best all rounder iphone. Flipkart is doing...
67,Brilliant,5,Amazing phone and on great deal I received wit...
68,Terrific purchase,4,finally an iPhone with very nice battery backu...
69,Best in the market!,5,Damn this phone is a blast . Upgraded from and...
70,Perfect product!,5,Worth the money’ starting first from its perfo...
71,Awesome,5,I dreamt about this day from a long time.... G...
72,Value-for-money,4,I'm Really happy with the product\nDelivery wa...
73,Just wow!,5,Great iphone.\nI am writing this review after ...
74,Worthless,5,Phone is awesome no doubt. But Camera & Displa...
75,Super!,5,Did an upgrade from 6s plus to iphone 11.\nAo ...
76,Classy product,5,Gifted my man on his 30th birthday 🎂 He loves ...
77,Must buy!,5,I rate this product 5* as it has got amazing u...
78,Nice product,4,If you are looking for a premium phone under 5...
79,Mind-blowing purchase,5,awesome Phone Smooth Touch Too good Sexyy look...
80,Terrific,5,"I bought iPhone 11 On March 2021, And I am Wri..."
81,Excellent,5,Just go for it.\nThis phone is really amazing....
82,Mind-blowing purchase,5,Absolutely powerful gadget. Loved it’s look! S...
83,Highly recommended,5,Thanks Flipkart For this amazing deal! I had a...
84,Wonderful,5,Super and marvellous phone look very cute and ...
85,Fabulous!,5,Everything is perfect pictures come out so cle...
86,Brilliant,5,A wort full value for money decision it’s . Si...
87,Worth every penny,5,Here is the thing\n\nThe only reason why you s...
88,Worth every penny,5,Undoubtedly Iphone 11 is the most successful m...
89,Pretty good,4,I've used this phone for over a month now and ...
90,Fabulous!,5,I purchased the iPhone 11 a month back. I must...
91,Mind-blowing purchase,5,Excellent camera 📸 And Display touching very N...
92,Excellent,5,A perfect phone and a good battery super camer...
93,Super!,5,This is my first ever iPhone.\nAnd I truly don...
94,Just wow!,5,The ultimate performance\nCamera is superb\nTh...
95,Terrific purchase,5,I use a Note10+ and have been using both iOS a...
96,Awesome,5,The phone is completely good\nAs far as camera...
97,Decent product,3,Everything u ll like it when u use this iPhone...
98,Awesome,5,Can’t beat the software and hardware integrati...
99,Worth every penny,5,iPhone is delivered on time. Display is great ...
100,Wonderful,5,Nice value for money good and best price I pho...
101,Classy product,5,I got this phone for good price hence 5 star f...
102,Must buy!,5,Camera is excellent just lack of telephoto mod...
103,Wonderful,4,I genuinely liked it. One of the best mobile p...
104,Mind-blowing purchase,5,"Flipkart honoured on time delivery, I have use..."
105,Good quality product,4,"Awesome camera, smooth and fast UI, display is..."
106,Fabulous!,5,Good product nice experience with Flipkart but...
107,Good quality product,4,I was torn between the oneplus 8 pro and the i...

## Answer 6

In [23]:
driver_6 = webdriver.Chrome("E:/chromedriver.exe")
driver_6.get("https://www.flipkart.com/")
driver_6.maximize_window()
time.sleep(1.5)
driver_6.find_element_by_xpath("//button[@class = '_2KpZ6l _2doB4z']").click()
time.sleep(1.5)
driver_6.find_element_by_xpath("//input[@name = 'q']").send_keys("sneaker")
time.sleep(1)
driver_6.find_element_by_xpath("//button[@class = 'L0Z3Pu']").click()

brand_lst_6 = []
prize_lst_6 = []
desc_lst_6 = [] 
pages_url_6 = []

# __________________________________________ pages url list __________________________________________
page1_url_6 = 'https://www.flipkart.com/search?q=sneaker&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'
pages_url_6.append(page1_url_6)
pages_url_6

for page in range(2, 4):
    p_url_6 = 'https://www.flipkart.com/search?q=sneaker&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(page)
    pages_url_6.append(p_url_6)
#______________________________________________________________________________________________________________

for i in pages_url_6:   # loop for extract data from each page (1,2,3 pages)
    driver_6.get(i)
    brand_tag_6 = driver_6.find_elements_by_xpath("//div[@class = '_2WkVRV']") # Tag of brand 
    prize_tag_6 = driver_6.find_elements_by_xpath("//div[@class= '_30jeq3']")  # Tag of prize 
    desc_tag_6 = driver_6.find_elements_by_xpath("//a[@class = 'IRpwTa']")  # Tag of description 

    for brand_6, prize_6, desc_6  in zip(brand_tag_6, prize_tag_6, desc_tag_6):
        brand_lst_6.append(brand_6.text)
        desc_lst_6.append(desc_6.text)
        # remove ₹ and "," from the prize bcz, now one can filter out the prize range if need, once this converted into df
        prize_lst_6.append(int(prize_6.text.replace('₹', '').replace(',','') ))  
                                                                        
# print('________________________________________________________________________________________________________')        
# print(brand_lst)
# print('________________________________________________________________________________________________________')
# print(prize_lst)
# print('________________________________________________________________________________________________________')
# print(desc_lst)
# print('________________________________________________________________________________________________________')

df6 = pd.DataFrame()                         # create Dataframe 

#-------------------------------- assigning only 100 records------------------------------------
df6['Brand Name'] = brand_lst_6[0:100]      
df6['Prize'] = prize_lst_6[0:100]
df6['Details'] = desc_lst_6[0:100]
# -----------------------------------------------------------------------------------------------
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)                        # max. the rows for view of read rows
df6.set_index( [[*range(1, df6.shape[0]+1)]]  , inplace=True)   # Assinging index values 

print('________________________________________ 100 Sneaker Details from flipkart ______________________________________')
df6

________________________________________ 100 Sneaker Details from flipkart ______________________________________

,Brand Name,Prize,Details
1,TWIN TOES,299,Sneakers For Men
2,ESSENCE,499,Sneakers For Men
3,ASTEROID,499,Original Luxury Branded Fashionable Men's Casu...
4,Chevit,699,Super Stylish & Trendy Combo Pack of 02 Pairs ...
5,URBANBOX,220,411 Casual Sneakers For Men
6,Numenzo,499,Sneakers For Men
7,Magnolia,398,White Sneaker For Men Sneakers For Men
8,STRANGER BROTHERS,431,Original Luxury Branded Fashionable Men's Casu...
9,Numenzo,479,Shark-41 Sneakers For Men
10,ASTEROID,499,Casual Sneakers Shoes For Men Sneakers For Men
11,Kraasa,499,Men White Sneakers Sneakers For Men
12,Oxelo,1499,"Casual , Partywear Sneakers Shoes For Men's An..."
13,Robbie jones,399,Gym/Walking/Running Sneakers For Men
14,SPARX,646,White Boots || High Tops || Sneakers For Men
15,D-SNEAKERZ,348,Perfect & Affordable Combo Pack of 02 Pairs Sn...
16,SUSON,379,Sneakers Sneakers For Men
17,FOOTGRAB,549,Numenzo Black Sneaker For Men Sneakers For Men
18,Chevit,599,Modern Trendy Shoes Sneakers For Men
19,SCATCHITE,398,Unique & Perfect Collection Combo Pack of 02 S...
20,Neeman's,2399,42400742490 Sneakers For Men
21,Numenzo,499,Combo Pack Of 2 Latest Stylish Casual Shoes fo...
22,BRUTON,359,Series 7 Sneakers For Men
23,Chevit,599,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...
24,Khadim's,1999,Sneakers For Men
25,BRUTON,592,White Sneaker For Men's/Boy's Sneakers For Men
26,Kraasa,499,Synthetic Leather Casual Partywear Wedding Sne...
27,BRUTON,588,Sneakers For Men
28,Absolutee shoes,492,Sneakers For Men
29,Shoes Bank,345,Sports Running Shoes Sneakers For Men
30,T-ROCK,379,"Skypy-31 Walking Shoes,Training Shoes,Sneakers..."
31,Robbie jones,499,Sneakers For Men
32,Neeman's,2399,Canvas Casual Partywear Outdoor Sneakers Shoes...
33,Clymb,259,Mesh Sports/Walking Shoes/Outdoor Ultra Lightw...
34,FEWROK,399,Puma Wired Cage Sneakers For Men
35,PUMA,1719,Sneakers For Men
36,TWIN TOES,299,Smart Casuals Canvas Shoes Combo pack of 2 Sne...
37,Chevit,399,Sneakers For Men
38,ESSENCE,449,Combo Pack of 2 Sports Running LightWeight Sho...
39,BRUTON,474,Sneakers For Men
40,ESSENCE,499,SM-322 Sneakers For Men
41,SPARX,882,Affordable Combo Pack of 03 Pairs Sneakers Out...
42,SneakerVilla,549,Casual Sneakers Green Shoes For Men And Boys S...
43,VORII,469,Sneakers For Men
44,STRANGER BROTHERS,431,"Casual , Partywear Sneakers Shoes For Men's An..."
45,Chevit,799,Luxury Branded Fashionable Men's Casual Walkin...
46,Robbie jones,499,Casual Sneakers White Shoes For Men And Boys S...
47,India hub,499,Perforated Low IDP Sneakers For Men
48,Oxelo,1499,Casual Sneakers Shoes For Men And Boys Sneaker...
49,D-SNEAKERZ,384,Gym/Walking/Running Sneakers For Men
50,Edoeviv,499,casual for men (beige 06) Sneakers For Men
51,Labbin,399,Mesh Casual/Walking Shoes/Outdoor Ultra Lightw...
52,Neeman's,2399,42400742490 Sneakers For Men
53,HOTSTYLE,199,Fashion Outdoor Canvas Casual Light Weight Lac...
54,PUMA,1599,Sneakers For Men
55,Robbie jones,499,casual for men (blue 06) Sneakers For Men
56,SUSON,379,Sneakers For Men
57,bluemaker,474,Men's Sneakers Walking Shoes - Lightweight Cla...
58,Jack Diamond,645,Men Casual Shoe New Trend With Fashion Panda D...
59,RODDICK SHOES,499,Men's Sneakers Fashion Lightweight Running Sho...
60,ASIAN,399,"Skypy-31 Walking Shoes,Training Shoes,Sneakers..."
61,BIRDE,299,Birde Trendy Casual Shoes Sneakers For Men
62,SPARX,1049,SM-482 Sneakers For Men
63,TWIN TOES,299,Sneakers For Men
64,ESSENCE,497,New Trendy Sneakers For Men
65,Kreverse,245,Sneakers For Men
66,STRANGER BROTHERS,421,Sneakers For Men
67,ESSENCE,499,Sneakers For Men
68,mannu,429,High-end PU Sneakers Fashion CasualSports comf...
69,BRUTON,474,Modern & Trendy Collection Combo Pack of 02 Sh...
70,Echor,395,Men's Canvas Low Top Sneakers Lace-up Classic ...
71,STRANGER BROTHERS,431,Sneakers For Men
72,PACIFIER,499,Trendy Casual Shoes Sneakers For Men
73,BIRDE,299,Plank Eng Knit Slipon IDP Sneakers For Men
74,PUMA,2359,Gym/Walking/Running Sneakers For Men
75,SUSON,379,Birde Trendy Casual Shoes Sneakers For Men
76,NBL Sports,299,SM-162 Sneakers For Men
77,Echor,499,Sneakers For Men
78,BIRDE,299,Fashion Outdoor Canvas Casual Light Weight Lac...
79,Oxelo,1499,Sneakers For Men
80,SneakerVilla,499,Sneakers For Men
81,SPARX,899,Luxury Fashionable casual sneaker shoes and pa...
82,otoos,499,Sneakers For Men (White) Sneakers For Men
83,Neeman's,2399,Casual Sneakers Green Shoes For Men And Boys S...
84,aadi,379,Sneakers For Men
85,BOOYO,449,Elixir Man Limited Edition Casual Shoes Sneake...
86,EZDEZARIO,449,casual shoe for men Sneakers For Men
87,Absolutee shoes,492,42400742490 Sneakers For Men

In [24]:
driver_6.close()

## Answer 7

In [25]:
driver_7 = webdriver.Chrome("E:/chromedriver.exe")
url_7 = "https://www.myntra.com/shoes"
driver_7.get(url_7)
time.sleep(1.5)
driver_7.maximize_window()
#--------------------------------------Applying Filter for Blacl colour-------------------------------
time.sleep(10)
driver_7.find_elements_by_xpath("//li[@class='colour-listItem']/label/div")[0].click()

#____________________________________________________________________________________________________________________________
#Note : As per given question, we should apply filter for "Rs. 6649 to Rs. 13099" but no such prize range available on the site
# so, i have applied filter for "Rs. 7149 to Rs. 14099"
#______________________________________________________________________________________________________________________________
# #--------------------------------------Applying Filter for prize range of 7149.0 to 14099.0-------------------------------
time.sleep(15)
driver_7.find_elements_by_xpath("//ul[@class = 'price-list']/li/label/div")[1].click()

In [26]:
# ------------------------------------------------- Url -------------------------------------------------------
url7 = []
page1_7 = 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7187.0_14125.0_7187.0%20TO%2014125.0'
page2_7 = 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p=2&rf=Price%3A7187.0_14125.0_7187.0%20TO%2014125.0'

url7.append(page1_7)
url7.append(page2_7)
# --------------------------------------------------------------------------------------------------------------

brand_7 = []
desc_7 = []
prize_7 = []

for u in url7:   # data extraction of 2 pages
    driver_7.get(u)
    # ---------------------------------- extracting tags ----------------------------------
    brand_tag_7 = driver_7.find_elements_by_xpath("//h3[@class='product-brand']")
    desc_tag_7 = driver_7.find_elements_by_xpath("//h4[@class = 'product-product']")
    prize_tag_7 = driver_7.find_elements_by_xpath("//div[@class='product-price']/span")
    
    for p_7 in prize_tag_7:  # 
        if p_7.text[0] == '(':
            pass
        else: 
            prize_7.append( 'Rs.' + p_7.text.replace('Rs.','').split(' ')[1])
    
    for b_7 in brand_tag_7:
         brand_7.append(b_7.text)   
            
    for d_7 in desc_tag_7:
        desc_7.append(d_7.text)
        
    
# --------------- we can also use zip function for brand name and description ---------------------------
#     for brnd_7, d_7, pr_7 in zip(brand_tag_7, desc_tag_7, prize_tag_7 ):   
#         brand_7.append(brnd_7.text)
#         desc_7.append(d_7.text)

# print(len(brand_7))
# print(len(desc_7))
# print(len(prize_7))

df_7 = pd.DataFrame()
df_7['BRAND'] =  brand_7  
df_7['DESCRIPTION'] =  desc_7
df_7['PRIZE'] =  prize_7
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)                        # max. the rows for view of read rows
df_7.set_index( [[*range(1, df_7.shape[0]+1)]], inplace=True)   # Assinging index values 

print('_______________ Data for 10 laptop  with filter of Intel Core i7 and also with filter of Intel Core i9________________')
df_7

_______________ Data for 10 laptop  with filter of Intel Core i7 and also with filter of Intel Core i9________________

,BRAND,DESCRIPTION,PRIZE
1,Nike,AIR ZOOM PEGASUS Running Shoes,Rs.9995
2,Nike,LEBRON WITNESS Basketball Shoe,Rs.8295
3,Nike,Men Zoom Span 4 Running Shoes,Rs.7195
4,Nike,Men ZOOM SPAN 4 Running Shoes,Rs.7195
5,Nike,Air Zoom Pegasus 38 Shield Run,Rs.11495
6,ADIDAS,Men Court Jam Bounce Tennis,Rs.7999
7,Puma,Men Deviate Nitro Running Shoe,Rs.12749
8,Nike,Men FLIGHT LEGACY Sneakers,Rs.7995
9,Puma,Men Velocity Nitro Running,Rs.9349
10,Nike,Men AIR PRESTO Sneakers,Rs.11495
11,Nike,Men BlazerLow '77 Sneakers,Rs.7195
12,Puma,Unisex Running Shoes,Rs.8499
13,Hush Puppies,Men Formal Derbys,Rs.8999
14,Puma,Men Liberate NITRO Running,Rs.8499
15,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs.8099
16,Puma,Unisex Mirage Remix Sneakers,Rs.7649
17,Cole Haan,Men Wingtip Oxford Sneakers,Rs.10399
18,Ruosh,Men Formal Leather Brogues,Rs.7490
19,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs.8999
20,ASICS,Men Colourblocked PU Sneakers,Rs.9999
21,UNDER ARMOUR,Women Charged Bandit 6 Running,Rs.8999
22,PUMA Hoops,Unisex Clyde All-Pro Team,Rs.8999
23,Puma,Unisex Leather Trainers,Rs.8499
24,Birkenstock,Women Arizona Oiled Leather Flats,Rs.11990
25,Saint G,Women Leather Heeled Boots,Rs.13900
26,ASICS,Men Running Shoes,Rs.7999
27,Saint G,Men Mid-Top Chelsea Boots,Rs.10900
28,Calvin Klein,Men UV MONO Leather Sneakers,Rs.8999
29,Bugatti,Men Black Walking Shoes,Rs.8999
30,Puma,Men Running Shoes,Rs.9749
31,Bugatti,Men Walking Shoes,Rs.8999
32,ROSSO BRUNELLO,Men Solid Leather Formal Monk Shoes,Rs.12999
33,ASICS,Men Black Running Sports Shoes,Rs.7999
34,Puma,Women Liberate NITRO Running,Rs.8499
35,Hush Puppies,Men Solid Leather Formal Derbys,Rs.8999
36,Birkenstock,Madrid Oiled Open Toe Flats,Rs.8990
37,Puma,Women Magnify Nitro Shoes,Rs.10399
38,Puma,Men Football Shoes,Rs.11899
39,Tommy Hilfiger,Women Leather Pumps,Rs.7999
40,Puma,Women Velocity NITRO Runners,Rs.9349
41,Geox,Men Leather Flat Boots,Rs.11999
42,ADIDAS,Men Lightstrike Go Running,Rs.8999
43,Calvin Klein,Men Mid-Top Runner Sneakers,Rs.10999
44,Pavers England,Men Textured Leather Formal Derbys,Rs.7199
45,Calvin Klein,Men Textured Leather Sneaker,Rs.9999
46,Puma,FIRST MILE Forever XT Utility,Rs.7199
47,Cole Haan,Men GENERATION ZEROGRAND STITCHLITE,Rs.9599
48,Heel & Buckle London,Men Solid Leather Formal Penny Loafers,Rs.7693
49,Calvin Klein,Men Solid Low Top LTH Sneakers,Rs.8999
50,J.FONTINI,Men Black Leather Loafers,Rs.8490
51,J.FONTINI,Men Black Leather Loafers,Rs.8490
52,Puma,Unisex Textured Sneakers,Rs.8499
53,Tommy Hilfiger,Women Leather Block Pumps,Rs.7999
54,Hush Puppies,Men Leather Slip-On Sneakers,Rs.7999
55,PUMA Motorsport,Unisex Mercedes F1 Sneakers,Rs.8499
56,Tommy Hilfiger,Men Lightweight Sneakers,Rs.7999
57,J.FONTINI,Men Textured Leather Loafers,Rs.7990
58,ASICS,Women NOVABLAST Road Running,Rs.10399
59,Tommy Hilfiger,Women Textured Pumps,Rs.7599
60,ASICS,Skycourt Sneakers,Rs.7999
61,Birkenstock,Women Gizeh Big Buckle Natural Leather Black R...,Rs.10990
62,Geox,Men Leather Formal Slip-Ons,Rs.8999
63,Hush Puppies,Men Solid Formal Slip-Ons,Rs.8999
64,DAVINCHI,Ustraa black,Rs.8990
65,DAVINCHI,Men Textured Formal Leather Loafers,Rs.8990
66,Calvin Klein,Men Solid Suede Sneakers,Rs.7999
67,Regal,Men Leather Formal Loafers,Rs.8990
68,Hush Puppies,Men Solid Leather Formal Derbys,Rs.7199
69,Saint G,Women Leather Heeled Boots,Rs.11000
70,Saint G,Textured Leather Block Heeled Boots,Rs.10900
71,Bugatti,Leather Block Heeled Boots,Rs.9999
72,Saint G,Women Leather Heeled Boots,Rs.9500
73,Regal,Men Solid Leather Formal Monks,Rs.8990
74,Geox,Women Leather Pumps,Rs.8999
75,Saint G,Leather Kitten Heeled Boots,Rs.8900
76,Geox,Women Leather Heeled Loafers,Rs.8999
77,ASICS,Women Running Shoes,Rs.7199
78,ASICS,Men DS LIGHT X-FLY 4 Running,Rs.7699
79,Heel & Buckle London,Men Leather Monk Shoes,Rs.8394
80,Geox,Men Woven Design Sneakers,Rs.10499
81,Geox,Men Leather Driving Shoes,Rs.9999
82,UNDER ARMOUR,Women Charged Impulse Shft,Rs.7499
83,Puma,Women Eternity NITRO Shoes,Rs.11049
84,UNDER ARMOUR,Women Charged Vantage ClrShft,Rs.7999
85,Regal,Men Textured Leather Formal Brogues,Rs.8490
86,Cole Haan,Men Lightweight Brogues,Rs.12799
87,Geox,Men Leather Mid-Top Flat Boots,Rs.12999
88,UNDER ARMOUR,Women Charged Vantage Running,Rs.7999
89,UNDER ARMOUR,Women Charged Rogue 2.5ClrSft,Rs.7999
90,J.FONTINI,Men Textured Leather Loafers,Rs.7990
91,Regal,Men Textured Leather Formal Loafers,Rs.9990
92,Hush Puppies,Men Leather Derbys,Rs.7199
93,KLEAT,Men Woven Design Loafers,Rs.7999
94,J.FONTINI,Men Solid Loafers,Rs.8990
95,Ruosh,Men Solid Leather Formal Oxfords,Rs.10792
96,Puma,Men Magnify Nitro Running,Rs.10399
97,Regal,Men Textured Leather Formal Oxfords,Rs.8490
98,Ruosh,Men Solid Leather Formal Monks,Rs.8990
99,Puma,Men Electrify Nitro Running,Rs.7999
100,Geox,Men Solid Sneakers,Rs.11999

In [27]:
driver_7.close()

In [28]:
# ============================ we can also apply filter by this way ===============================================
# time.sleep(10)
# color_filter_tag_7 = driver_7.find_elements_by_xpath("//li[@class='colour-listItem']/label/input")
# for j_7 in range(len(color_filter_tag_7)):
#     if color_filter_tag_7[j_7].get_attribute('value') == 'Black':
#         c_filter= driver_7.find_elements_by_xpath("//li[@class='colour-listItem']/label/div")
#         c_filter[j_7].click()


# time.sleep(15)
# filter_tags_7 = driver_7.find_elements_by_xpath("//ul[@class = 'price-list']/li/label/input")
# for i_7 in range(len(filter_tags_7)):
#     if filter_tags_7[i_7].get_attribute('value') == '7149.0 TO 14099.0':
#         p_filter = driver_7.find_elements_by_xpath("//ul[@class = 'price-list']/li/label/div")
#         p_filter[i_7].click()

## Answer 8

In [29]:
driver_8 = webdriver.Chrome("E:/chromedriver.exe")
url_8 = "https://www.amazon.in/"
driver_8.get(url_8)
driver_8.maximize_window()

time.sleep(4)
srch_input_8 = driver_8.find_element_by_xpath("//input[@id = 'twotabsearchtextbox']")
srch_input_8.send_keys('Laptop')
time.sleep(5)

search_btn_8 = driver_8.find_element_by_xpath("//input[@id = 'nav-search-submit-button']")
search_btn_8.click()

time.sleep(10)
Intel_Core_i7 = driver_8.find_element_by_xpath("//span[text()='Intel Core i7']")
Intel_Core_i7.click()                   # intel core i7 filter applying

time.sleep(5)
Intel_Core_i9 = driver_8.find_element_by_xpath("//span[text()= 'Intel Core i9']")
Intel_Core_i9.click()                    # intel core i8 filter applying

product_name_8 = driver_8.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
product_prize_8 = driver_8.find_elements_by_xpath("//span[@class = 'a-price-whole']")

laptop_name_8=[]
prize_8 = []
for i in range(10):
    try:
        laptop_name_8.append(product_name_8[i].text)
        prize_8.append(product_prize_8[i].text.replace(',',  ''))
    except:
        laptop_name_8.append('None')
        
# fetching all the product url
url_tag_8 = driver_8.find_elements_by_xpath("//a[@class = 'a-link-normal a-text-normal']")

laptop_url_8 = []

for url_8 in url_tag_8[0:10]:
    laptop_url_8.append(url_8.get_attribute('href'))   

laptop_rating_8 = []

for laptop_8 in laptop_url_8:       #iterating over each and every product url present in list laptop_url
    
    driver_8.get(laptop_8)
    time.sleep(2.5)
    
    try :                     # here we are fetching ratings using try and exception 
        rating_8 = driver_8.find_element_by_xpath("//span[@class = 'a-size-medium a-color-base']")
                                                                
        laptop_rating_8.append(rating_8.text)
    except:
        laptop_rating_8.append('-')    #if rating is not present then append '-'

In [30]:
# print('______________________________________________________________________________________')
# print(laptop_name_8)
# print('______________________________________________________________________________________')
# print(prize_8)
# print('______________________________________________________________________________________')
# print(laptop_rating_8)
# print('______________________________________________________________________________________')
df8 = pd.DataFrame()
df8['Laptop Name'] = laptop_name_8
df8['Prize'] = prize_8
df8['Laptop Rating'] = laptop_rating_8

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)                        # max. the rows for view of read rows
df8.set_index( [[*range(1, df8.shape[0]+1)]], inplace=True)   # Assinging index values 

print('_______________ Data for 10 laptop  with filter of Intel Core i7 and also with filter of Intel Core i9________________')
df8

_______________ Data for 10 laptop  with filter of Intel Core i7 and also with filter of Intel Core i9________________

                                          Laptop Name   Prize Laptop Rating
1   HP Pavilion (2021) Intel 11th Gen Core i7 14 i...   84990  4.3 out of 5
2   ASUS ZenBook 13 OLED 2021 Intel Core i7-1165G7...  104899  4.2 out of 5
3   HP Pavilion (2021) Intel 11th Gen Core i7 14 i...   84990  4.3 out of 5
4   Acer Nitro 5 11th Gen Intel Core i7-11800H 15....   85990  3.8 out of 5
5   ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...  113990  4.6 out of 5
6   ASUS TUF Dash F15 15.6-inch FHD 144Hz, Intel C...   85590  4.6 out of 5
7   (Renewed) Dell Latitude Laptop E7470 Intel Cor...   54990             -
8   (Renewed) Dell Latitude Touch Screen Laptop E7...   99990             -
9   (Renewed) Dell Latitude Touch Screen Laptop E7...   54990             -
10  (Renewed) Dell Latitude Touch Screen Laptop E7...   53990             -

In [31]:
driver_8.close()

## Answer 9

In [32]:
driver_9 = webdriver.Chrome("E:/chromedriver.exe")  # chrome path
url_9 = "https://www.ambitionbox.com/"   
driver_9.get(url_9)   # passing url to the driver
driver_9.maximize_window()

time.sleep(5)
driver_9.find_element_by_xpath("//a[@class = 'link jobs']").click() # going to the job tab
  
# input in the field of designation 
time.sleep(2.4)
driver_9.find_element_by_xpath("//input[@name = 'ab_jobsSearch']").send_keys("Data Scientist")      

time.sleep(5)
driver_9.find_element_by_xpath("//span[@class = 'ctas-btn-medium']").click()     # clicking on search button

time.sleep(2.5)
driver_9.find_element_by_xpath("//div[@title = 'Location']/i").click()  # Step 1 for select location

time.sleep(2.5)
driver_9.find_element_by_xpath("//input[@placeholder = 'Search locations']").send_keys('Noida')  # Step 2 for select location  
  
# -----------------------------------------------------------------------------------------------                                        
# clicking to the location tab  # Step 3 we can use directly step 3 but i have used Step 1 and step 2 
#for clear picture of operation we are performing
time.sleep(8)
driver_9.find_element_by_xpath("//label[@for = 'location_Noida']").click()

In [33]:
job_title_9 = []
posted_days_9 = []
ratings_9 = []
company_9 = []

# --------------------data tag extaction ---------------------------------------------------
company_tag_9 = driver_9.find_elements_by_xpath("//p[@class = 'company body-medium']")
title_9 = driver_9.find_elements_by_xpath("//a[@class = 'title noclick']")
rating_9 = driver_9.find_elements_by_xpath("//span[@class = 'body-small']")
days_9 = driver_9.find_elements_by_xpath("//span[@class = 'body-small-l']")
# -----------------------------------------------------------------------

for i_9, j_9, k_9  in zip(title_9,rating_9,company_tag_9 ):  # zip used here because these tag have same length of record 10
    job_title_9.append(i_9.text)
    ratings_9.append(j_9.text)
    company_9.append(k_9.text)
    
for i in range(0, 20, 2):
    posted_days_9.append(days_9[i].text)   # posted days extracted separately bcz posted days have different pattern

# print(len(company_9))
# print(len(job_title_9))
# print(len(posted_days_9))
# print(len(ratings_9))

# creating df
df_9 = pd.DataFrame()
df_9['Company Name'] =company_9
df_9['Designation'] = job_title_9
df_9['Posted Time'] = posted_days_9
df_9['Rating'] = ratings_9
df_9.set_index( [[*range(1,11)]] , inplace = True)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
print("__________________________ 10 Job details from ambitionbox.com_______________________________________")
df_9

__________________________ 10 Job details from ambitionbox.com_______________________________________

,Company Name,Designation,Posted Time,Rating
1,Optum Global Solutions (India) Private Limited,Data Scientist,5d ago,4.1
2,Ameriprise Financial,Group Lead-Data Scientist,5hr ago,4.1
3,Optum Global Solutions (India) Private Limited,Data Scientist,27d ago,4.1
4,Steria India Ltd,Urgent Vacancy || Data Scientist || Noida,17d ago,4.1
5,Steria India Ltd,Urgent Requirement || Data Scientist || Noida,17d ago,4.1
6,Optum Global Solutions (India) Private Limited,Associate Data Scientist,1mon ago,4.1
7,HCL Technologies Limited,Senior Data Scientist,28d ago,3.8
8,GI Group,Data Scientist - Consulting Firm (8-15 yrs),6hr ago,3.9
9,GI Group,Manager - Data Scientist - Retail/BFSI (8-15 yrs),2d ago,3.9
10,IBM India Pvt. Limited,Data Scientist: Artificial Intelligence,1mon ago,4.1

In [34]:
driver_9.close()

##  Answer 10

In [39]:
from selenium.webdriver.common.keys import Keys

driver_10 = webdriver.Chrome("E:/chromedriver.exe")
url_10 = "https://www.ambitionbox.com/"
driver_10.get(url_10)
driver_10.maximize_window()

time.sleep(5)
driver_10.find_element_by_xpath("//a[@class = 'link salaries']").click()

time.sleep(2.5)
driver_10.find_element_by_xpath("//input[@id = 'jobProfileSearchbox']").send_keys('Data Scientist')

time.sleep(2.5)
driver_10.find_element_by_xpath("//input[@id = 'jobProfileSearchbox']").send_keys(Keys.ARROW_DOWN)

time.sleep(2.5)
driver_10.find_element_by_xpath("//input[@id = 'jobProfileSearchbox']").send_keys(Keys.ENTER)
time.sleep(2.5)

In [40]:
company_info_tag_10 = driver_10.find_elements_by_xpath("//div[@class = 'company-info']")
avg_10= driver_10.find_elements_by_xpath("//p[@class = 'averageCtc']")
min_max_10 = driver_10.find_elements_by_xpath("//div[@class = 'salary-values']")


company_name_10 = []
based_10 = []
exp_10 = []
min_salary_10 = []
max_salary_10 = []
avg_salary_10 = []

for i_10 in range (10):
    company_name_10.append(company_info_tag_10[i_10].text.split('\n')[0])
    based_10.append(company_info_tag_10[i_10].text.split('\n')[1])
    exp_10.append(company_info_tag_10[i_10].text.split('\n')[4])
    min_salary_10.append(min_max_10[i_10].text.split('\n')[0])
    max_salary_10.append(min_max_10[i_10].text.split('\n')[1])
    avg_salary_10.append(avg_10[i_10].text.split('\n')[0])
       

# print(company_name_10)
# print(based_10)
# print(exp_10)
# print(min_salary_10)
# print(max_salary_10)
# print(avg_salary_10)


df_10 = pd.DataFrame()
df_10['Company Name'] = company_name_10
df_10['Salary Record'] = based_10
df_10['Required Experience'] = exp_10
df_10['Min Salary'] = min_salary_10
df_10['Max Salary'] = max_salary_10
df_10['Avg Salary'] = avg_salary_10

df_10.set_index( [[*range(1,11)]] , inplace = True)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# __________________________________________ Data Scientist role details of 10 records __________________________________
print("__________________________ Job details from ambitionbox.com_______________________________________")
df_10

__________________________ Job details from ambitionbox.com_______________________________________

,Company Name,Salary Record,Required Experience,Min Salary,Max Salary,Avg Salary
1,Ab Inbev,based on 10 salaries,4 yrs exp,₹ 15.0L,₹ 23.0L,₹ 19.4L
2,Optum,based on 22 salaries,3-4 yrs exp,₹ 11.0L,₹ 21.3L,₹ 15.1L
3,Fractal Analytics,based on 60 salaries,2-4 yrs exp,₹ 9.0L,₹ 20.8L,₹ 14.7L
4,Tiger Analytics,based on 24 salaries,3-4 yrs exp,₹ 8.3L,₹ 18.5L,₹ 13.4L
5,UnitedHealth,based on 45 salaries,2-4 yrs exp,₹ 7.2L,₹ 20.5L,₹ 13.3L
6,Verizon,based on 14 salaries,4 yrs exp,₹ 10.0L,₹ 21.0L,₹ 12.7L
7,Ganit Business Solutions,based on 12 salaries,4 yrs exp,₹ 8.5L,₹ 15.0L,₹ 12.4L
8,Deloitte,based on 45 salaries,2-4 yrs exp,₹ 6.9L,₹ 20.5L,₹ 11.2L
9,Ernst & Young,based on 26 salaries,3-4 yrs exp,₹ 6.0L,₹ 20.0L,₹ 11.1L
10,Ericsson,based on 43 salaries,3-4 yrs exp,₹ 5.0L,₹ 21.5L,₹ 10.9L

In [41]:
driver_10.close()