# ************************************  ASSIGNMENT 2 ************************************

## WEBSCRAPING ASSIGNMENT

## Answer_1

#### Python program to display all the header tags from‘en.wikipedia.org/wiki/Main_Page’

In [1]:
# load Libraries
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url_1 = 'https://en.wikipedia.org/wiki/Main_Page'
r_1 = requests.get(url_1)
r_1   # Here we are geting Response [200],  code indicates that the request has succeeded

In [3]:
html_content_1 = r_1.content
soup_1 = BeautifulSoup(html_content_1, 'html.parser')
# print(soup_1.prettify())

In [4]:
# HTML defines six levels of headings h1, h2, h3, h4, h5, h6 
header_type = ['h1', 'h2', 'h3', 'h4', 'h5' ,'h6']
header_name = soup_1.find_all(header_type)

for header in header_name:
    print(header.name , ' : ', header.text.strip().replace('expanded','').replace('collapsed', '').strip())

h1  :  Main Page
h2  :  From today's featured article
h2  :  Did you know ...
h2  :  In the news
h2  :  On this day
h2  :  Today's featured picture
h2  :  Other areas of Wikipedia
h2  :  Wikipedia's sister projects
h2  :  Wikipedia languages
h2  :  Navigation menu
h3  :  Personal tools
h3  :  Namespaces
h3  :  Variants
h3  :  Views
h3  :  More
h3  :  Search
h3  :  Navigation
h3  :  Contribute
h3  :  Tools
h3  :  Print/export
h3  :  In other projects
h3  :  Languages

## Answer_2

#### Python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [5]:
url_2 = 'https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating'
r_2 = requests.get(url_2)
r_2

In [6]:
html_content_2 = r_2.content
soup_2 = BeautifulSoup(html_content_2, 'html.parser')
# print(soup_2.prettify())

In [7]:
scrap_data = soup_2.find_all('div', class_ = 'lister-item mode-advanced')
movie_name = [] 
year_of_release = []
IMDB_rating = []


for i in range(100) :
    title_2 = scrap_data[i].find('h3', class_ = 'lister-item-header')
    movie_2 = title_2.find('a').text.strip()
    movie_name.append(movie_2)
    
    y_release_2 = scrap_data[i].find('h3', class_ = 'lister-item-header')
    year_2 = y_release_2.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(', '').replace(')', '').replace('I ', '')  
    year_of_release.append(int(year_2))
    
    IMDB_2 = scrap_data[i].find('div', class_ = 'inline-block ratings-imdb-rating')
    rating_2 = IMDB_2.find('strong').text
    IMDB_rating.append(round(float(rating_2), 1 ))

# print(len(movie_name))
# print(len(year_of_release))
# print(len(IMDB_rating))

In [8]:
# print('--------------------------------------------Movie Name -------------------------------------------')
# print(movie_name)
# print('__________________________________________________________________________________________________')
# print('------------------------------------------year of release ----------------------------------------')
# print(year_of_release)
# print('__________________________________________________________________________________________________')
# print('------------------------------------------IMDB rating --------------------------------------------')
# print(IMDB_rating)
# print('__________________________________________________________________________________________________')

In [9]:
head_2 = soup_2.find_all(  'h1',   class_ = 'header')
headline_2 = head_2[0].text.replace('\n',' ').replace ('1000', '100')

In [10]:
df_IMDB_100 = pd.DataFrame( data = {'Movie Name' : movie_name, 'IMDB Rating': IMDB_rating,
                                    'Year of release' : year_of_release}) 

df_IMDB_100.set_index( [ [*range(1,101)]] , inplace = True )

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [11]:
print('________________________________', headline_2,'____________________________________')
df_IMDB_100

________________________________ IMDb "Top 100" (Sorted by IMDb Rating Descending)  ____________________________________

,Movie Name,IMDB Rating,Year of release
1,The Shawshank Redemption,9.3,1994
2,The Godfather,9.2,1972
3,Soorarai Pottru,9.1,2020
4,The Dark Knight,9.0,2008
5,The Godfather: Part II,9.0,1974
6,12 Angry Men,9.0,1957
7,The Lord of the Rings: The Return of the King,8.9,2003
8,Pulp Fiction,8.9,1994
9,Schindler's List,8.9,1993
10,Inception,8.8,2010
11,Dara iz Jasenovca,8.8,2020
12,Fight Club,8.8,1999
13,The Lord of the Rings: The Fellowship of the Ring,8.8,2001
14,Forrest Gump,8.8,1994
15,"Il buono, il brutto, il cattivo",8.8,1966
16,Shershaah,8.7,2021
17,The Lord of the Rings: The Two Towers,8.7,2002
18,The Matrix,8.7,1999
19,Goodfellas,8.7,1990
20,Star Wars: Episode V - The Empire Strikes Back,8.7,1980
21,One Flew Over the Cuckoo's Nest,8.7,1975
22,Gisaengchung,8.6,2019
23,Drishyam 2,8.6,2021
24,Interstellar,8.6,2014
25,Cidade de Deus,8.6,2002
26,Sen to Chihiro no kamikakushi,8.6,2001
27,Saving Private Ryan,8.6,1998
28,The Green Mile,8.6,1999
29,La vita è bella,8.6,1997
30,Se7en,8.6,1995
31,The Silence of the Lambs,8.6,1991
32,Star Wars,8.6,1977
33,Seppuku,8.6,1962
34,Shichinin no samurai,8.6,1954
35,It's a Wonderful Life,8.6,1946
36,Whiplash,8.5,2014
37,The Intouchables,8.5,2011
38,The Prestige,8.5,2006
39,The Departed,8.5,2006
40,The Pianist,8.5,2002
41,Gladiator,8.5,2000
42,American History X,8.5,1998
43,The Usual Suspects,8.5,1995
44,Léon,8.5,1994
45,The Lion King,8.5,1994
46,Terminator 2: Judgment Day,8.5,1991
47,Nuovo Cinema Paradiso,8.5,1988
48,Hotaru no haka,8.5,1988
49,Back to the Future,8.5,1985
50,Once Upon a Time in the West,8.5,1968
51,Psycho,8.5,1960
52,Pather Panchali,8.5,1955
53,Rear Window,8.5,1954
54,Casablanca,8.5,1942
55,Modern Times,8.5,1936
56,City Lights,8.5,1931
57,Hamilton,8.4,2020
58,Capharnaüm,8.4,2018
59,Joker,8.4,2019
60,Ratsasan,8.4,2018
61,Ayla: The Daughter of War,8.4,2017
62,Kimi no na wa.,8.4,2016
63,Dangal,8.4,2016
64,Spider-Man: Into the Spider-Verse,8.4,2018
65,Avengers: Endgame,8.4,2019
66,Avengers: Infinity War,8.4,2018
67,Coco,8.4,2017
68,Django Unchained,8.4,2012
69,The Dark Knight Rises,8.4,2012
70,3 Idiots,8.4,2009
71,Taare Zameen Par,8.4,2007
72,WALL·E,8.4,2008
73,The Lives of Others,8.4,2006
74,Oldeuboi,8.4,2003
75,Memento,8.4,2000
76,Mononoke-hime,8.4,1997
77,Raiders of the Lost Ark,8.4,1981
78,The Shining,8.4,1980
79,Apocalypse Now,8.4,1979
80,Alien,8.4,1979
81,Tengoku to jigoku,8.4,1963
82,Dr. Strangelove or: How I Learned to Stop Worr...,8.4,1964
83,Witness for the Prosecution,8.4,1957
84,Paths of Glory,8.4,1957
85,Sunset Blvd.,8.4,1950
86,The Great Dictator,8.4,1940
87,Chhichhore,8.3,2019
88,1917,8.3,2019
89,Uri: The Surgical Strike,8.3,2019
90,Tumbbad,8.3,2018
91,K.G.F: Chapter 1,8.3,2018
92,Vikram Vedha,8.3,2017
93,Drishyam,8.3,2013
94,Jagten,8.3,2012
95,Jodaeiye Nader az Simin,8.3,2011
96,Incendies,8.3,2010
97,Dune: Part One,8.3,2021
98,Kimetsu no Yaiba: Mugen Ressha-Hen,8.3,2020
99,The Father,8.3,2020
100,Inglourious Basterds,8.3,2009

## Answer_3

#### Python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame

In [12]:
url_3 = 'https://www.imdb.com/india/top-rated-indian-movies/'
r_3 = requests.get(url_3)
r_3

In [13]:
html_content_3 = r_3.content
soup_3 = BeautifulSoup(html_content_3, 'html.parser')
# print(soup_3.prettify())

In [14]:
movie_scrap_3 = soup_3.find_all('td', class_ = 'titleColumn')
rating_3= soup_3.find_all('td', class_ = 'ratingColumn imdbRating')

movie_name_3 = []
year_of_release_3 = []
IMDB_rating_3 = []

for i in range (100):
    title_3 = movie_scrap_3[i].find('a').text.strip()
    movie_name_3.append(title_3)
    
    release = movie_scrap_3[i].find('span', class_ = 'secondaryInfo').text.replace('(','').replace(')', '')
    year_of_release_3.append(int(release))
    
    IMDB_3 = rating_3[i].text.strip()
    IMDB_rating_3.append(float(IMDB_3))

# print(len(movie_name_3))
# print(len(year_of_release_3))
# print(len(IMDB_rating_3))

title_3= soup_3.find_all('h1', class_ = 'header')
headline_3 = 'IMDb ' + title_3[0].text

In [15]:
df_IMDB_100_Indian = pd.DataFrame()
df_IMDB_100_Indian['Movie Name'] = movie_name_3
df_IMDB_100_Indian['IMDB Rating'] = IMDB_rating_3
df_IMDB_100_Indian['Year of release'] = year_of_release_3
df_IMDB_100_Indian.set_index( [ [*range(1,101)]] , inplace = True )

In [16]:
print('________________________________________',headline_3, '_________________________________________')
df_IMDB_100_Indian

________________________________________ IMDb Top Rated Indian Movies _________________________________________

                      Movie Name  IMDB Rating  Year of release
1                   Sardar Udham          8.6             2021
2                        Nayakan          8.5             1987
3                     Anbe Sivam          8.5             2003
4              Pariyerum Perumal          8.5             2018
5              C/o Kancharapalem          8.5             2018
6               Manichitrathazhu          8.5             1993
7                        Golmaal          8.5             1979
8                       Kireedam          8.5             1989
9                    Apur Sansar          8.5             1959
10                     Natsamrat          8.4             2016
11                            96          8.4             2018
12                  Thevar Magan          8.4             1992
13             Kumbalangi Nights          8.4             2019
14                  Black Friday          8.4             2004
15               Pather Panchali          8.4             1955
16               Soorarai Pottru          8.4             2020
17                         #Home          8.4             2021
18                    Visaaranai          8.4             2015
19                      3 Idiots          8.4             2009
20                        Jersey          8.3             2019
21              Taare Zameen Par          8.3             2007
22                        Asuran          8.3             2019
23                    Drishyam 2          8.3             2021
24                    Thalapathi          8.3             1991
25                        Kaithi          8.3             2019
26           Sarpatta Parambarai          8.3             2021
27                        Dangal          8.3             2016
28                     Devasuram          8.3             1993
29                     Aparajito          8.3             1956
30            Jaane Bhi Do Yaaro          8.3             1983
31                        Pyaasa          8.3             1957
32                       Peranbu          8.3             2018
33                  Vada Chennai          8.3             2018
34                      Ratsasan          8.3             2018
35                         Guide          8.3             1965
36                  Thani Oruvan          8.3             2015
37         Kannathil Muthamittal          8.2             2002
38                      Spadikam          8.2             1995
39   Agent Sai Srinivasa Athreya          8.2             2019
40                        Iruvar          8.2             1997
41                 Chupke Chupke          8.2             1975
42                  Super Deluxe          8.2             2019
43                      Mahanati          8.2             2018
44                         Aruvi          8.2             2016
45             Khosla Ka Ghosla!          8.2             2006
46                  Pudhu Pettai          8.2             2006
47                      Drishyam          8.2             2013
48                       Tumbbad          8.2             2018
49                       Anniyan          8.2             2005
50                        Premam          8.2             2015
51                  Vikram Vedha          8.2             2017
52                     Mudhalvan          8.2             1999
53                Kaakkaa Muttai          8.2             2014
54                Bangalore Days          8.2             2014
55                         Satya          8.2             1998
56                        Angoor          8.2             1982
57                     Papanasam          8.2             2015
58                 Soodhu Kavvum          8.2             2013
59                     Andhadhun          8.2             2018
60        Dhuruvangal Pathinaaru          8.2             2016
61                        Shahid          8.2             2012
62                       Mandela          8.2             2021
63                    Pithamagan          8.2             2003
64                         Anand          8.2             1971
65                   Jigarthanda          8.1             2014
66            Gangs of Wasseypur          8.1             2012
67              Paan Singh Tomar          8.1             2012
68            Bhaag Milkha Bhaag          8.1             2013
69                        Sairat          8.1             2016
70                    Hera Pheri          8.1             2000
71                        Sholay          8.1             1975
72       Maheshinte Prathikaaram          8.1             2016
73        Swades: We, the People          8.1             2004
74                        Talvar          8.1             2015
75                Chak De! India          8.1             2007
76                 Mughal-E-Azam          8.1             1960
77                   Ustad Hotel          8.1             2012
78                         Black          8.1             2005
79      Zindagi Na Milegi Dobara          8.1             2011
80        Jo Jeeta Wohi Sikandar          8.1             1992
81      Theeran Adhigaaram Ondru          8.1             2017
82                    Chhichhore          8.1             2019
83            Nil Battey Sannata          8.1             2015
84                      Drishyam          8.1             2015
85                    Article 15          8.1             2019
86                         Udaan          8.1             2010
87                     Charulata          8.1             1964
88                        Baasha          8.1             1995
89                   A Wednesday          8.1             2008
90                        Masaan          8.1             2015
91                 Alai Payuthey          8.1             2000
92           Munna Bhai M.B.B.S.          8.1             2003
93                     Virumandi          8.1             2004
94                     Sarfarosh          8.1             1999
95                         Queen          8.1             2013
96                          Roja          8.1             1992
97                Dil Chahta Hai          8.1             2001
98               Rang De Basanti          8.1             2006
99               OMG: Oh My God!          8.1             2012
100     Uri: The Surgical Strike          8.1             2019

## Answer_4 i)

#### i) Top 10 ODI teams in men’s cricket along with the records for matches, points andrating

In [17]:
url_4A = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

In [18]:
r_4A = requests.get(url_4A)
r_4A

In [19]:
html_content_4A= r_4A.content
soup_4A = BeautifulSoup(html_content_4A, 'html.parser')
# print(soup_4A.prettify())

In [20]:
name_4A = soup_4A.find_all('span', class_ = 'u-show-phablet')

teams_name_4A = []
for i in range(10):
    ODI_4A = name_4A[i].text
    teams_name_4A.append(ODI_4A)
# teams_name_4A

In [21]:
matches_4A = []
points_4A = []
ratings_4A = []

#---------------------------------------Fetching banner data------------------------------------------
match1_4A = soup_4A.find_all('td', class_= 'rankings-block__banner--matches')
match1_4A[0].text

point1_4A = soup_4A.find_all('td', class_= 'rankings-block__banner--points')
point1_4A[0].text

rating1_4A = soup_4A.find_all('td', class_='rankings-block__banner--rating u-text-right')
rating1_4A[0].text.strip()

matches_4A.append(int(int(match1_4A[0].text)))
points_4A.append(int(int(point1_4A[0].text.replace(',', ''))))
ratings_4A.append(int(int(rating1_4A[0].text.strip())))

#_________________________frist Element inserted in their repective list_______________________________
# print('___________________________________________________________________________________________')
# print('First Element: ', matches_4A)
# print('First Element: ', points_4A)
# print('First Element: ', ratings_4A)


match_4A = soup_4A.find_all('td', class_= 'table-body__cell u-center-text')

for i in range(0,18,2):
    matches_4A.append(int(match_4A[i].text))
    points_4A.append(int(match_4A[i+1].text.replace(',', '')) )
    
rating_content_4A = soup_4A.find_all('td', class_= 'table-body__cell u-text-right rating')

for i in range (9):
    ratings_4A.append(int(rating_content_4A[i].text.strip()) )
    
    
# print('___________________________________________________________________________________________')
# print(teams_name_4A)
# print(matches_4A)
# print(points_4A)
# print(ratings_4A)
# print('___________________________________________________________________________________________')
# print('length :', len(teams_name_4A))
# print('length :', len(matches_4A))
# print('length :', len(points_4A))
# print('length :', len(ratings_4A))
# print('___________________________________________________________________________________________')

title_content_4A = soup_4A.find_all('div', 'rankings-block__title-container')
title_4A = title_content_4A[0].find('h4').text
# print(title_4A)

In [22]:
df_4A = pd.DataFrame()
df_4A['Team Name'] = teams_name_4A
df_4A['Matches'] = matches_4A
df_4A['Points'] = points_4A
df_4A['Ratings'] = ratings_4A
df_4A.set_index( [[*range(1,11)]], inplace = True)

In [23]:
print('__________________________________________',title_4A, '__________________________________________\n\n' )
print(df_4A)

__________________________________________ Men's ODI Team Rankings __________________________________________


   Team Name  Matches  Points  Ratings
1         NZ       17    2054      121
2        ENG       32    3793      119
3        AUS       28    3244      116
4        IND       32    3624      113
5         SA       25    2459       98
6        PAK       27    2524       93
7        BAN       30    2740       91
8         WI       30    2523       84
9         SL       32    2657       83
10       AFG       17    1054       62

## Answer_4 ii), iii)

####   ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
####   iii) Top 10 ODI bowlers along with the records of their team andrating.

In [24]:
url_4B = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'

In [25]:
r_4B = requests.get(url_4B)
r_4B

In [26]:
html_content_4B = r_4B.content

In [27]:
soup_4B = BeautifulSoup(html_content_4B, 'html.parser')
# print(soup_4B.prettify())

In [28]:
#_____________________________________Fetching First Element of each list_________________________________
batsmen_name_4B = []
batsmen_team_4B = []
batsmen_rating_4B = []
#-------------------------------------------------------------------------------------------
bowlers_name_4C = []
bowlers_team_4C = []
bowlers_rating_4C = []
#-------------------------------------------------------------------------------------------

name_1_4B = soup_4B.find_all('div' , class_ ='rankings-block__banner--name')
batsmen_name_4B.append(name_1_4B[0].text)
bowlers_name_4C.append(name_1_4B[1].text)

team_4B = soup_4B.find_all('div' , class_ = 'rankings-block__banner--nationality')
batsmen_1_4B = team_4B[0].text.strip().replace('\n873', '')
batsmen_team_4B.append(batsmen_1_4B)
bowler_1_4C = team_4B[1].text.strip().replace('\n737', '')
bowlers_team_4C.append(bowler_1_4C)

ratings_4B = soup_4B.find_all('div', class_ = 'rankings-block__banner--rating')
batsmen_rating_4B.append(int(ratings_4B[0].text))
bowlers_rating_4C.append(int(ratings_4B[1].text))

# print('First Element :',batsmen_name_4B)
# print('First Element :',bowlers_name_4C)
# print('First Element :',batsmen_team_4B)
# print('First Element :',bowlers_team_4C)
# print('First Element :',batsmen_rating_4B)
# print('First Element :',bowlers_rating_4C)

#------------------------------------------Fetching all records--------------------------------------------
name_content_4B = soup_4B.find_all( 'td', class_ = 'table-body__cell name')
team_content_4B = soup_4B.find_all('span' , class_ = 'table-body__logo-text')
rating_content_4B = soup_4B.find_all('td', class_ = 'table-body__cell u-text-right rating')

for i in range (9):
    batsmen_name_4B.append(name_content_4B[i].text.strip())
    bowlers_name_4C.append(name_content_4B[i+9].text.strip())
    
    batsmen_team_4B.append(team_content_4B[i].text)
    bowlers_team_4C.append(team_content_4B[i+9].text)    
    
    batsmen_rating_4B.append(int(rating_content_4B[i].text))
    bowlers_rating_4C.append(int(rating_content_4B[i+9].text))

In [29]:
# print(batsmen_name_4B)
# print('___________________________________________________________________________________________')
# print(batsmen_team_4B)
# print('___________________________________________________________________________________________')
# print(batsmen_rating_4B)

# print('--------------------------------------------------------------------------------------------')
# print(bowlers_name_4C)
# print('___________________________________________________________________________________________')
# print(bowlers_team_4C)
# print('___________________________________________________________________________________________')
# print(bowlers_rating_4C)

title_4B = soup_4B.find_all('div', class_ = 'rankings-block__title-container')
batting_title_4B = title_4B[0].find('h4').text
bowler_title_4C = title_4B[1].find('h4').text

In [30]:
df_4B = pd.DataFrame()
df_4B['Player Name'] =  batsmen_name_4B
df_4B['Team'] = batsmen_team_4B
df_4B['Ratings'] = batsmen_rating_4B
df_4B.style.set_properties( **{'text-align': 'left'}, inplace = True)
df_4B.set_index([[*range(1,11)]],inplace = True)

#-------------------------------------------------------------------------------------------------------
df_4C = pd.DataFrame()
df_4C['Player Name'] =  bowlers_name_4C
df_4C['Team'] = bowlers_team_4C
df_4C['Ratings'] = bowlers_rating_4C
df_4C.style.set_properties( **{'text-align': 'left'}, inplace = True)
df_4C.set_index([[*range(1,11)]],inplace = True)

In [31]:
print('____________________________________', batting_title_4B, '____________________________________\n')
print(df_4B)

print('_____________________________________', bowler_title_4C, '_____________________________________\n')
print(df_4C)

____________________________________ ODI Batting Rankings ____________________________________

        Player Name Team  Ratings
1        Babar Azam  PAK      873
2       Virat Kohli  IND      844
3      Rohit Sharma  IND      813
4       Ross Taylor   NZ      801
5       Aaron Finch  AUS      779
6    Jonny Bairstow  ENG      775
7      David Warner  AUS      762
8         Shai Hope   WI      758
9   Kane Williamson   NZ      754
10  Quinton de Kock   SA      747
_____________________________________ ODI Bowling Rankings _____________________________________

         Player Name Team  Ratings
1        Trent Boult   NZ      737
2     Josh Hazlewood  AUS      709
3   Mujeeb Ur Rahman  AFG      708
4       Chris Woakes  ENG      700
5       Mehedi Hasan  BAN      692
6         Matt Henry   NZ      691
7     Jasprit Bumrah  IND      679
8     Mitchell Starc  AUS      652
9    Shakib Al Hasan  BAN      650
10     Kagiso Rabada   SA      646

## Answer_5 (i)

#### Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [32]:
url_5A = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
r_5A = requests.get(url_5A)
r_5A

In [33]:
html_content_5A = r_5A.content
soup_5A = BeautifulSoup(html_content_5A, 'html.parser')
# print(soup_5A.prettify())

In [34]:
team_content_5A = soup_5A.find_all( 'span', class_ = 'u-hide-phablet')
team_content_5A

teams_5A = []
matches_5A = []
points_5A = []
ratings_5A = []

for i in range (10):
    teams_5A.append(team_content_5A[i].text)
# ___________________________________________________________________________________________
banner_matche_5A = soup_5A.find_all('td', class_ = 'rankings-block__banner--matches')
banner_point_5A = soup_5A.find_all('td', class_ = 'rankings-block__banner--points')
banner_rating_5A = soup_5A.find_all('td', class_ = 'rankings-block__banner--rating u-text-right')

matches_5A.append( int(banner_matche_5A[0].text ))
points_5A.append( int(banner_point_5A[0].text.replace(',', '')))
ratings_5A.append( int(banner_rating_5A[0].text.strip()))

# print(matches_5A)
# print(points_5A)
# print(ratings_5A)
        
matches_content_5A = soup_5A.find_all('td', class_ = 'table-body__cell u-center-text')
rating_content_5A = soup_5A.find_all('td', class_= 'table-body__cell u-text-right rating')
rating_content_5A = soup_5A.find_all('td', class_= 'table-body__cell u-text-right rating')

for i in range(0,17,2):
    matches_5A.append( int(matches_content_5A[i].text) )
    points_5A.append(int(matches_content_5A[i+1].text.replace(',', '')))

for i in range (9):
    ratings_5A.append(int(rating_content_5A[i].text))

# print(teams_5A)   
# print(matches_5A)
# print(points_5A)
# print(ratings_5A)  

t_5A = soup_5A.find_all('div', class_ = 'rankings-block__title-container')
title_5A = t_5A[0].find_all('h4')[0].text

In [35]:
df_5A = pd.DataFrame()
df_5A['Team'] = teams_5A
df_5A ['Matches'] =  matches_5A
df_5A['Points'] = points_5A
df_5A['Ratings'] = ratings_5A
df_5A.style.set_properties( **{'text-align': 'center'}, inplace = True)
df_5A.set_index([[*range(1,11)]],inplace = True)

In [36]:
print('____________________________________', title_5A, '_______________________________________')
df_5A

____________________________________ Women's ODI Rankings _______________________________________

            Team  Matches  Points  Ratings
1      Australia       21    3379      161
2        England       25    2983      119
3   South Africa       29    3390      117
4          India       26    2934      113
5    New Zealand       26    2392       92
6    West Indies       22    1872       85
7       Pakistan       20    1496       75
8     Bangladesh        5     306       61
9      Sri Lanka       11     519       47
10       Ireland        2      25       13

## Answer_5 (ii)  and (iii)

#### (ii)  Top 10 women’s ODI players along with the records of their team and rating.
#### (iii)  Top 10 women’s ODI all-rounder along with the records of their team andrating.

In [37]:
url_5B = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
r_5B = requests.get(url_5B)
r_5B

In [38]:
html_content_5B = r_5B.content
soup_5B = BeautifulSoup(html_content_5B, 'html.parser')
# print(soup.prettify())

In [39]:
#******************************Fatching banner Names *************************************************
batter_name_5B = []
batter_team_5B = []
batter_rating_5B = []
#-------------------------------
bowler_name_5b = []
bowler_team_5b = []
bowler_rating_5b = []
#-------------------------------
all_rounder_name_5C = []
all_rounder_team_5C = []
all_rounder_rating_5C = []
#-------------------------------
banner_name_5B = soup_5B.find_all('div', class_ = 'rankings-block__banner--name')
batter_name_5B.append(banner_name_5B[0].text)
bowler_name_5b.append(banner_name_5B[1].text)
all_rounder_name_5C.append(banner_name_5B[2].text)
# print(batter_name_5B)
# print(bowler_name_5b)
# print(all_rounder_name_5C)

#*****************************Fatching banner teams *************************************************
banner_team_5B = soup_5B.find_all('div', class_ = 'rankings-block__banner--nationality')
batter_team_5B.append(banner_team_5B[0].text.strip().replace('\n761', ''))
bowler_team_5b.append(banner_team_5B[1].text.strip().replace('\n760', ''))
all_rounder_team_5C.append(banner_team_5B[2].text.strip().replace('\n384', ''))
# print(batter_team_5B)
# print(bowler_team_5b)
# print(all_rounder_team_5C)

#******************************Fatching banner ratings *************************************************
banner_rating_5B = soup_5B.find_all('div', class_ = 'rankings-block__banner--rating')
batter_rating_5B.append(   int(banner_rating_5B[0].text)  )
bowler_rating_5b.append(   int(banner_rating_5B[1].text)  )
all_rounder_rating_5C.append(   int(banner_rating_5B[2].text)  )
# print(batter_rating_5B)
# print(bowler_rating_5b)
# print(all_rounder_rating_5C)

#*******************fetching all names and teams and ratings *******************************
name_content_5B = soup_5B.find_all('td', class_='table-body__cell name')
team_content_5B = soup_5B.find_all('span', class_= 'table-body__logo-text')
rating_content_5B = soup_5B.find_all('td', class_ = 'table-body__cell u-text-right rating')

for i in range (9):
    batter_name_5B.append(name_content_5B[i].text.strip())
    bowler_name_5b.append(name_content_5B[i+9].text.strip())
    all_rounder_name_5C.append(name_content_5B[i+18].text.strip())
    
    batter_team_5B.append(team_content_5B[i].text)
    bowler_team_5b.append(team_content_5B[i+9].text)
    all_rounder_team_5C.append(team_content_5B[i+18].text)
    
    batter_rating_5B.append(int(rating_content_5B[i].text))
    bowler_rating_5b.append(int(rating_content_5B[i+9].text))
    all_rounder_rating_5C.append(int(rating_content_5B[i+18].text))
    
# print('_____________________________________________________________________________________________')
# print(batter_name_5B)
# print(bowler_name_5b)
# print(all_rounder_name_5C)
# print('______________________________________________________________________________________________')    
# print(batter_team_5B)
# print(bowler_team_5b)
# print(all_rounder_team_5C)
# print('_______________________________________________________________________________________________')
# print(batter_rating_5B)
# print(bowler_rating_5b)
# print(all_rounder_rating_5C)

In [40]:
#*************************************fetching main title***************************************
title_5 = soup_5B.find_all('h3', class_ = 'widget__title')
main_title_5 = title_5[0].text
# print(main_title_5)
title_content_5B = soup_5B.find_all('div', class_ = 'rankings-block__title-container')
title_5B = title_content_5B[0].find('h4').text
# print(title_5B)
title_5b = title_content_5B[1].find('h4').text
# print(title_5b)
title_5C = title_content_5B[2].find('h4').text
# print(title_5C)

In [41]:
df_5B = pd.DataFrame()
df_5B[' Player Name '] = batter_name_5B
df_5B[' Team '] = batter_team_5B
df_5B[' Rating '] = batter_rating_5B
df_5B.style.set_properties( **{'text-align': 'center'}, inplace = True)
df_5B.set_index([[*range(1,11)]], inplace = True )

df_5b = pd.DataFrame()
df_5b[' Player Name '] = bowler_name_5b
df_5b[' Team '] = bowler_team_5b
df_5b[' Rating'] = bowler_rating_5b
df_5b.style.set_properties( **{'text-align': 'center'}, inplace = True)
df_5b.set_index([[*range(1,11)]], inplace = True )

df_5C = pd.DataFrame()
df_5C[' Player Name '] = all_rounder_name_5C
df_5C[' Team'] = all_rounder_team_5C
df_5C[' Rating'] = all_rounder_rating_5C
df_5C.style.set_properties( **{'text-align': 'center'}, inplace = True)
df_5C.set_index([[*range(1,11)]], inplace = True )

In [42]:
print('************************************', main_title_5, '*********************************************\n\n')

print('_______________________________________', title_5B, '______________________________________________\n')
print(df_5B, '\n\n')

print('_______________________________________', title_5b, '______________________________________________\n')
print(df_5b, '\n\n')

print('_______________________________________', title_5C, '______________________________________________\n')
print(df_5C)

************************************ Women's ODI Player Rankings *********************************************


_______________________________________ ODI Batting Rankings ______________________________________________

         Player Name   Team    Rating
1         Lizelle Lee     SA       761
2        Alyssa Healy    AUS       750
3         Mithali Raj    IND       738
4      Tammy Beaumont    ENG       728
5   Amy Satterthwaite     NZ       717
6     Smriti Mandhana    IND       710
7         Meg Lanning    AUS       699
8         Beth Mooney    AUS       690
9      Heather Knight    ENG       674
10    Laura Wolvaardt     SA       672


_______________________________________ ODI Bowling Rankings ______________________________________________

         Player Name   Team    Rating
1       Jess Jonassen    AUS      760
2      Jhulan Goswami    IND      727
3        Megan Schutt    AUS      717
4      Marizanne Kapp     SA      715
5   Sophie Ecclestone    ENG      701
6      Shabnim Ismail     SA      688
7     Katherine Brunt    ENG      666
8      Ayabonga Khaka     SA      643
9      Anya Shrubsole    ENG      598
10         Kate Cross    ENG      589


_______________________________________ ODI All-Rounder Rankings ______________________________________________

        Player Name   Team   Rating
1     Marizanne Kapp    SA      384
2     Natalie Sciver   ENG      372
3       Ellyse Perry   AUS      365
4    Stafanie Taylor    WI      322
5      Deepti Sharma   IND      299
6   Ashleigh Gardner   AUS      275
7   Dane van Niekerk    SA      274
8      Jess Jonassen   AUS      272
9    Katherine Brunt   ENG      272
10    Jhulan Goswami   IND      251

In [43]:
# Answer_6 is mentioned at the last

## Answer_7

#### Python program to scrape house details from mentioned url. It should include house title, location, area, emi and price

In [44]:
url_7 = 'https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0'
headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3' }
r_7 = requests.get(url_7, headers)
r_7

In [45]:
html_content_7 = r_7.content
soup_7 = BeautifulSoup(html_content_7, 'html.parser' )
# print(soup_7.prettify())

In [46]:
property_name_7 = []
location_7 = []

name_7 =  soup_7.find_all('h2', class_ = 'heading-6 font-semi-bold nb__1AShY')
location_content_7 =  soup_7.find_all('div', class_ = 'nb__2CMjv')

for i in range(10):
    property_name_7.append(name_7[i].find_all('span')[0].text)
    location_7.append(location_content_7[i].text)  

area_sqft = [] 
emi = []
price = [] 
property_content_7 =  soup_7.find_all( 'div', class_ = 'font-semi-bold heading-6' )

for i in range (0, 30, 3):
    area_sqft.append(property_content_7[i].text)
    emi.append(property_content_7[i+1].text)
    price.append(property_content_7[i+2].text) 
    
# print('__________________________________________________________________________________________________________')    
# print(property_name_7)
# print('__________________________________________________________________________________________________________')
# print(location_7)
# print('__________________________________________________________________________________________________________')
# print(area_sqft)
# print('__________________________________________________________________________________________________________')
# print(emi)
# print('__________________________________________________________________________________________________________')
# print(price)
# print('__________________________________________________________________________________________________________')

title_7 = soup_7.find_all('h1',  class_ = 'heading-5 text-ellipsis nb__1K1jy')[0].text

In [47]:
df_7 = pd.DataFrame()
df_7['Property Name'] = property_name_7
df_7['Location'] = location_7
df_7['Area In Sqft'] = area_sqft
df_7['EMI'] = emi
df_7['Price'] = price
df_7.style.set_properties( **{'text-align': 'left'}, inplace = True)
df_7.set_index([ [ *range(1,11)]], inplace = True)

In [48]:
print('______', title_7, '______')
df_7

______ 15 - 4 BHK  Flats, Apartments for Sale in  Electronic City, Bangalore  | 4 BHK Flats  in Electronic City ______

,Property Name,Location,Area In Sqft,EMI,Price
1,4 BHK In Independent House For Sale In Hebba...,"Independent House, Bangalore - Hosur Road, Nea...","1,800 sqft","₹77,374/Month",₹1.35 Crores
2,4 BHK For Sale In Daadys Garden In Electronic...,"Daadys Garden Kammasandra Rd, Kammasandra, El...","2,600 sqft","₹85,971/Month",₹1.5 Crores
3,"4 BHK Flat For Sale In , Electronic City","Standalone Building, 16th Cross Road Neeladri ...","2,000 sqft","₹39,546/Month",₹69 Lacs
4,"4 BHK Flat For Sale In Hosa Road, Parappana ...","Standalone Building, 11th cross.anjanadri lay out","3,000 sqft","₹71,643/Month",₹1.25 Crores
5,4 BHK In Independent House For Sale In Elect...,"Independent House, surya nagar face 1","3,000 sqft",₹1.43 Lacs/Month,₹2.5 Crores
6,4 BHK In Independent House For Sale In Elect...,"Independent House, Hosur Rd,Near Infosys Limited","1,200 sqft","₹42,985/Month",₹75 Lacs
7,4 BHK Flat For Sale In Sobha Silicon Oasis ...,"Sobha Silicon Oasis Naganathapura, Rayasandra ...","1,879 sqft","₹88,837/Month",₹1.55 Crores
8,4 BHK Apartment For Sale In Gopalan Gardenia...,"Gopalan Gardenia Gopalan gardenia, Veerasandr...","2,650 sqft","₹68,777/Month",₹1.2 Crores
9,4 BHK For Sale In Gpr Royale In Gpr Royale,6th Cross,"3,100 sqft","₹85,971/Month",₹1.5 Crores
10,4 BHK Flat For Sale In Electronic City,"Standalone Building, Shikaripalya near Shams S...","1,400 sqft","₹20,060/Month",₹35 Lacs

## Answer_8

#### Python program to scrape mentioned details:  i)  Restaurant name,  ii)  Cuisine,  iii)  Location,  iv)  Ratings,  v)  Image url

In [49]:
url_8 = 'https://www.dineout.co.in/delhi-restaurants/buffet-special'
r_8 = requests.get(url_8)
r_8

In [50]:
html_content_8 = r_8.content
soup_8 = BeautifulSoup(html_content_8, 'html.parser')
# print(soup_8.prettify())

In [51]:
#*********************************fetching Restaurant_name, cuisine_name,location,image_url***********************************
restaurant_name_8 = []
cuisine_name_8 = []
location_8 = []
image_url_8 = []

name_content_8 = soup_8.find_all('a', class_ = 'restnt-name ellipsis')
cuisine_content_8 = soup_8.find_all('span', class_ = 'double-line-ellipsis')
location_content_8 = soup_8.find_all('div', class_ = 'restnt-loc ellipsis')
image_content_8 = soup_8.find_all('img', class_= 'no-img')

for i in range (13):
    restaurant_name_8.append(name_content_8[i].text)
    cuisine_8 = cuisine_content_8[i].find_all('a')
    l_content_8 = location_content_8[i].find_all('a')
    image_url_8.append(image_content_8[i]['data-src']) 
    
    if len(l_content_8) == 2:
        sum = l_content_8[0].text + ' '+ l_content_8[1].text
        location_8.append(sum)

    if len(l_content_8) == 3:
        sum = l_content_8[0].text + ' ' + l_content_8[1].text + ' '+ l_content_8[2].text
        location_8.append(sum)
    
    if len(cuisine_8) == 2:
        sum = cuisine_8[0].text + ', '+ cuisine_8[1].text
        cuisine_name_8.append(sum)

    elif len(cuisine_8) == 3:
        sum = cuisine_8[0].text+ ', '+cuisine_8[1].text+', '+ cuisine_8[2].text
        cuisine_name_8.append(sum)
        
    elif len(cuisine_8) == 4:
        sum = cuisine_8[0].text+ ', '+cuisine_8[1].text+', '+ cuisine_8[2].text +', '+ cuisine_8[3].text
        cuisine_name_8.append(sum)

    elif len(cuisine_8) == 5:
        sum = cuisine_8[0].text+ ', '+cuisine_8[1].text+', '+ cuisine_8[2].text +', '+ cuisine_8[3].text +', '+cuisine_8[4].text 
        cuisine_name_8.append(sum)

    elif len(cuisine_8) == 6:
        sum = cuisine_8[0].text+ ', '+cuisine_8[1].text+', '+ cuisine_8[2].text +', '+ cuisine_8[3].text +', '+cuisine_8[4].text+', '+ cuisine_8[5].text 
        cuisine_name_8.append(sum)

In [52]:
#*************************************************fetching Ratings ******************************************************
ratings_8 = []

rating_1_8 = soup_8.find_all('div', 'restnt-rating rating-3')
ratings_8.append(float(rating_1_8[0].text))

rating_content_8 = soup_8.find_all('div', 'restnt-rating rating-4')

for rate in rating_content_8:
    ratings_8.append(float(rate.text))

In [53]:
# print(restaurant_name_8)
# print('_______________________________________________________________________________________________\n')
# print(cuisine_name_8)
# print('_______________________________________________________________________________________________\n')
# print(location_8)
# print('_______________________________________________________________________________________________\n')
# print(ratings_8)
# print('_______________________________________________________________________________________________\n')

In [54]:
# image_url_8

In [55]:
t_8 = soup_8.find_all('h1', class_= 'listing-title')
title_8 = t_8[0].text

In [56]:
df_8 = pd.DataFrame()
df_8['Restaurant Name'] = restaurant_name_8
df_8['Cuisine'] = cuisine_name_8
df_8['Location'] = location_8
df_8['Ratings'] = ratings_8
df_8['Image url'] = image_url_8
df_8.style.set_properties( **{'text-align': 'center'}, inplace = True)
df_8.set_index([[*range(1,14)]], inplace = True)

In [57]:
print('_____________________________________',title_8,'_______________________________________')
df_8

_____________________________________ Best Buffet Special Restaurants Near Me in Delhi _______________________________________

,Restaurant Name,Cuisine,Location,Ratings,Image url
1,Castle Barbeque,"Chinese, North Indian",Connaught Place Central Delhi,3.4,https://im1.dineout.co.in/images/uploads/resta...
2,Jungle Jamboree,"North Indian, Barbecue, Italian, Asian","3CS Mall, Lajpat Nagar - 3 South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"North Indian, Chinese","Pacific Mall, Tagore Garden West Delhi",4.0,https://im1.dineout.co.in/images/uploads/resta...
4,Cafe Knosh,"Multi-Cuisine, North Indian, Italian, Continen...","The Leela Ambience Convention Hotel, Shahdara ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
5,The Barbeque Company,"Barbecue, Chinese, Mughlai, North Indian","Gardens Galleria, Sector 38A Noida",4.1,https://im1.dineout.co.in/images/uploads/resta...
6,India Grill,"North Indian, Italian, Oriental","Hilton Garden Inn, Saket South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
7,Delhi Barbeque,"Barbecue, North Indian","Taurus Sarovar Portico, Mahipalpur South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
8,The Monarch - Bar Be Que Village,"North Indian, Chinese, Fast Food","Indirapuram Habitat Centre, Indirapuram Ghaziabad",4.0,https://im1.dineout.co.in/images/uploads/resta...
9,World Cafe,"North Indian, Chinese, Continental","Vibe by The Lalit Traveller, Sector 35 Faridabad",4.4,https://im1.dineout.co.in/images/uploads/resta...
10,Indian Grill Room,"North Indian, Mughlai, Barbecue","Suncity Business Tower, Golf Course Road Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
11,Mad 4 Bar B Que,"North Indian, Mughlai",Sector 29 Faridabad,3.8,https://im1.dineout.co.in/images/uploads/resta...
12,Barbeque 29,"Barbecue, Chinese, North Indian",NIT Faridabad,4.3,https://im1.dineout.co.in/images/uploads/resta...
13,Glasshouse,"Multi-Cuisine, Asian, European, Italian, North...","DoubleTree By Hilton Gurugram Baani Square, Se...",4.0,https://im1.dineout.co.in/images/uploads/resta...

## Answer_9

#### Python program to scrape weather details for last 24 hours from
#### i) Hour, ii) Temperature, iii) Wind, iv) Weather condition, v) Humidity, vi) Pressure

In [58]:
url_9 = 'https://en.tutiempo.net/delhi.html?data=last-24-hours'
r_9 = requests.get(url_9)
r_9

In [59]:
html_content_9 = r_9.content
soup_9 = BeautifulSoup(html_content_9, 'html.parser')
# print(soup_9.prettify())

In [60]:
last24_content_9 = soup_9.find_all( 'div' , class_='last24 thh' )

hour_content_9 = last24_content_9[0].find_all('td')
w_content_9 = last24_content_9[0].find_all('span')

#---------------------------------------------fetching hours----------------------------------------------
hour_9 = []
for i in range(0, 295, 6):
    hour_9.append(hour_content_9[i].text)
#_________________________________________________________________________________________________________
#---------------------------------------fetching weather Condition-----------------------------------------

weather_9 = []
for i in range(54) :
    
    if w_content_9[i].text not in ['Weather condition', 'WC'  ]:
        weather_9.append(w_content_9[i].text)
#__________________________________________________________________________________________________________
#------------------------------------fetching temperature, wind, humidity, pressure------------------------

temp_content_9 = soup_9.find_all( 'td', class_ =  't Temp')
wind_content_9 = soup_9.find_all('td' ,  class_ =  'wind')
hum_content_9 = soup_9.find_all('td' ,  class_ =  'hr')
pressure_content_9 = soup_9.find_all('td' ,  class_ =  'prob')

temp_9 = []
wind_9 = []
humidity_9 = []
pressure_9 = []

for i in range (50):
    temp_9.append(temp_content_9[i].text)
    wind_9.append(wind_content_9[i].text)
    humidity_9.append(hum_content_9[i].text)
    pressure_9.append(pressure_content_9[i].text)
#__________________________________________________________________________________________________________
print('Weather Conditon',len(weather_9))
print( 'Hour', len(hour_9))   
print('Temp', len(temp_9))
print('Wind', len(wind_9))
print('Humidity', len(humidity_9))
print('Pressure', len(pressure_9))

Weather Conditon 50
Hour 50
Temp 50
Wind 50
Humidity 50
Pressure 50

In [61]:
# print('__________________________________________________________________________________________________')
# print(hour_9)
# print('__________________________________________________________________________________________________')
# print(temp_9)
# print('__________________________________________________________________________________________________')
# print(wind_9)
# print('__________________________________________________________________________________________________')
# print(weather_9)
# print('__________________________________________________________________________________________________')
# print(humidity_9)
# print('__________________________________________________________________________________________________')
# print(pressure_9)
# print('__________________________________________________________________________________________________')

In [62]:
t_9 = soup_9.find_all('div', class_= 'titulo')
title_9 = t_9[0].find_all('h1')[0].text

In [63]:
df_9 = pd.DataFrame()
df_9['Hour'] = hour_9
df_9['Temperature'] = temp_9
df_9['Wind'] = wind_9
df_9['Weather Condition'] = weather_9
df_9['Humidity'] = humidity_9
df_9['Pressure'] = pressure_9
df_9.style.set_properties( **{'text-align': 'center'}, inplace = True)
df_9.set_index( [ [*range(1, 51)]], inplace = True )

In [64]:
print('_______________________________',title_9,'_______________________________\n\n')
print(df_9)

_______________________________ Past 24 hours in Delhi The weather during the last hours _______________________________


     Hour Temperature     Wind Weather Condition Humidity  Pressure
1   11:00        27°C   9 km/h              Mist      58%  1015 hPa
2   10:30        26°C   6 km/h              Mist      61%  1016 hPa
3   10:00        26°C     Calm              Mist      61%  1016 hPa
4   09:30        25°C   7 km/h              Mist      74%  1016 hPa
5   09:00        24°C   7 km/h              Mist      78%  1015 hPa
6   08:30        23°C  11 km/h              Mist      73%  1015 hPa
7   08:00        23°C   7 km/h              Mist      78%  1014 hPa
8   07:30        22°C   9 km/h              Mist      83%  1014 hPa
9   07:00        22°C   9 km/h              Mist      83%  1014 hPa
10  06:30        22°C   7 km/h              Mist      83%  1013 hPa
11  06:00        22°C  11 km/h              Mist      83%  1013 hPa
12  05:30        22°C  11 km/h              Mist      83%  1013 hPa
13  05:00        22°C  11 km/h              Mist      83%  1013 hPa
14  04:30        22°C   9 km/h              Mist      83%  1013 hPa
15  04:00        22°C   9 km/h              Mist      83%  1013 hPa
16  03:30        22°C   9 km/h              Mist      83%  1013 hPa
17  03:00        22°C   9 km/h              Mist      78%  1013 hPa
18  02:30        22°C   6 km/h              Mist      83%  1013 hPa
19  02:00        22°C   6 km/h              Mist      83%  1013 hPa
20  01:30        22°C   6 km/h              Mist      83%  1013 hPa
21  01:00        23°C   7 km/h              Mist      78%  1013 hPa
22  00:30        23°C   9 km/h              Mist      78%  1013 hPa
23  00:00        23°C   9 km/h              Mist      78%  1013 hPa
24  23:30        23°C   7 km/h              Mist      78%  1013 hPa
25  23:00        24°C  11 km/h              Mist      74%  1013 hPa
26  22:30        24°C   9 km/h              Mist      74%  1013 hPa
27  22:00        25°C   9 km/h              Mist      69%  1013 hPa
28  21:30        25°C   9 km/h              Mist      69%  1013 hPa
29  21:00        25°C  11 km/h              Mist      65%  1013 hPa
30  20:30        25°C   9 km/h              Mist      65%  1013 hPa
31  20:00        26°C  11 km/h              Mist      58%  1013 hPa
32  19:30        26°C  11 km/h              Mist      58%  1013 hPa
33  19:00        26°C  11 km/h              Mist      58%  1013 hPa
34  18:30        27°C   9 km/h              Mist      58%  1012 hPa
35  18:00        27°C  11 km/h              Mist      58%  1012 hPa
36  17:30        28°C   9 km/h              Mist      55%  1012 hPa
37  17:00        29°C  11 km/h              Mist      45%  1012 hPa
38  16:30        29°C   7 km/h              Mist      43%  1012 hPa
39  16:00        29°C   9 km/h     Partly Cloudy      40%  1012 hPa
40  15:30        30°C  11 km/h              Fair      35%  1012 hPa
41  15:00        30°C  13 km/h              Mist      38%  1012 hPa
42  14:30        30°C   9 km/h              Mist      38%  1012 hPa
43  14:00        30°C  11 km/h              Mist      38%  1012 hPa
44  13:30        29°C  13 km/h              Fair      40%  1013 hPa
45  13:00        29°C   9 km/h              Fair      40%  1013 hPa
46  12:30        29°C   7 km/h             Clear      43%  1013 hPa
47  12:00        28°C   7 km/h             Clear      45%  1014 hPa
48  11:30        28°C   7 km/h              Mist      48%  1015 hPa
49  11:00        28°C   7 km/h              Mist      48%  1015 hPa
50  10:30        28°C   7 km/h              Mist      42%  1015 hPa

## Answer_10

#### Python program to scrape monument name, monument description, image url about top 10 monuments

In [65]:
url_10 = 'https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/'
r_10 = requests.get(url_10)
r_10

In [66]:
html_content_10 = r_10.content
soup_10 = BeautifulSoup(html_content_10, 'html.parser')
# print(soup_10.prettify())

In [67]:
monument_name_10 = []
monument_description_10 = []
image_url_10 = []

monument_content_10 = soup_10.find_all('div', class_ = 'blog--single__content column--3-4 u-spacing-third')
name_10 = monument_content_10[0].find_all('strong')

for i in range(10):
    monument_name_10.append(name_10[i].text)
# print(monument_name_10)


description_content_10 = monument_content_10[0].find_all('p')
for i in range(2, 30, 3):
    monument_description_10.append(description_content_10[i].text)
    
image = monument_content_10[0].find_all('img')


for i in range (0,19,2):
    img_url_10 = image[i]['data-srcset'] 
    image_url_10.append( img_url_10.split(',')[0])
# image_url_10    

# Note: I have extracted only one image of each monument, which is of highest quality.
# I am also able to extracte, all image for each manument but that was easy, so i choose to extract only 
# one image which is of hightest image quality
# monument_description_10

title_content_10 = soup_10.find_all('h3', class_ ='title title--heading')
title_10 = title_content_10[0].text

In [68]:
df_10 = pd.DataFrame()
df_10['Name'] = monument_name_10
df_10['Description'] = monument_description_10
df_10['Image URL'] = image_url_10
df_10.style.set_properties( **{'text-align': 'left'}, inplace = True)
df_10.set_index( [ [*range(1, 11)]], inplace = True)

In [69]:
print('**********************************',title_10, '*******************************************')
df_10

********************************** Top 10 Famous Monuments to Visit In India *******************************************

,Name,Description,Image URL
1,"Taj Mahal, Agra","Enlisted in the Seven Wonders of the World, Th...",https://www.puredestinations.co.uk/wp-content/...
2,"Golden Temple (Harmandir Sahib), Amritsar",The holiest shrine and pilgrimage place locate...,https://www.puredestinations.co.uk/wp-content/...
3,"Meenakshi Temple, Madurai",Meenakshi Temple is situated on the Southern b...,https://www.puredestinations.co.uk/wp-content/...
4,"Mysore Palace, Mysore",The Mysore Palace is a famous historical monum...,https://www.puredestinations.co.uk/wp-content/...
5,"Gateway of India, Mumbai",Even though Mumbai is famous for its Bollywood...,https://www.puredestinations.co.uk/wp-content/...
6,"Red Fort, New Delhi","Declared as the UNESCO’s World Heritage Site, ...",https://www.puredestinations.co.uk/wp-content/...
7,"Hawa Mahal, Jaipur",Explore a blend of beauty and Rajasthan cultur...,https://www.puredestinations.co.uk/wp-content/...
8,"Qutub Minar, New Delhi",Discover one of the tallest towers in the worl...,https://www.puredestinations.co.uk/wp-content/...
9,"Sanchi Stupa, Sanchi","The beautiful and massive dome, Sanchi Stupa a...",https://www.puredestinations.co.uk/wp-content/...
10,"Charminar, Hyderabad",No visit to Hyderabad should be complete witho...,https://www.puredestinations.co.uk/wp-content/...

## Answer_6

####  Python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The 
####  Scraped data should include Product Name, Price, Image URL and Average Rating.

In [109]:
url_6 = 'https://www.amazon.in/Smartphones-%E2%82%B910-000-%E2%82%B920-Basic-Mobiles/s?i=electronics&bbn=1805560031&rh=n%3A1805560031%2Cp_36%3A1318506031&dc&qid=1634901825&rnid=1318502031&ref=sr_nr_p_36_4'
headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3' }
r_6 = requests.get(url_6, headers)
r_6

In [111]:
# Note : Before executing this cell, make sure above cell should give '<Response [200]>', if don't give then execute that again

html_content_6 = r_6.content
soup_6 = BeautifulSoup(html_content_6, 'html.parser')
# print(soup_6.prettify())
# _______________________________________________Price extraction from webpage_____________________________

price_content_6 = soup_6.find_all('span', class_='a-price-whole')
print('Length of price_content: ', len(price_content_6))

Length of price_content:  24

In [112]:
# Note: Before excutive this cell, make sure Length of price_content is 24.
# if, it is not 24 then again excute the cell from url cell.

if len(price_content_6) == 24:
    
    product_content_6 = soup_6.find_all('span', class_='a-size-base a-color-base a-text-normal')
    price_content_6 = soup_6.find_all('span', class_='a-price-whole')
    rating_content_6 = soup_6.find_all('span', class_ = 'a-icon-alt')
    image_content_6 = soup_6.find_all('img', class_ = 's-image')
    product_name_6 = []
    spec_6 = []
    price_6 = []
    rating_6 = []
    image_url_6 = []

    for name in product_content_6:
        product_name_6.append(name.text)

    for price in price_content_6:
        price_6.append(int(price.text.replace(',','')))

    for url in image_content_6:
        image_url_6.append(url['srcset'].split(',')[-1])
    
    for i in range(24):
    #     product_name_6.append(product_content_6[i].text.split('(')[0] )
    #     spec_6.append(product_content_6[i].text.split('(')[1] )
    #     price_6.append(int(price_content_6[i].text.replace(',','')))
        rating_6.append( float(rating_content_6[i].text.replace(' out of 5 stars', '')) )
    #     image_url_6.append(image_content_6[i]['srcset'].split(',')[-1])

    print('product_name length: ', len(product_name_6))
    print('price length: ', len(price_6))
    print( 'rating length: ', len(rating_6))
    print( 'Image Url: ', len(image_url_6))
    
elif len(price_content_6) == 0:
    print('Server Respone is [503], please re-execute')

else:
    print('html_content of webpage is not giving appropriate content: ')
    print('Need to re-execute this: ')

product_name length:  24
price length:  24
rating length:  24
Image Url:  24

In [113]:
# print('---------------------------------------------------------------------------------------------------------------------')
# print(product_name_6)
# print('---------------------------------------------------------------------------------------------------------------------')
# print(spec_6)
# print('---------------------------------------------------------------------------------------------------------------------')
# print(rating_6)
# print('---------------------------------------------------------------------------------------------------------------------')
# print(price_6)
# print('---------------------------------------------------------------------------------------------------------------------')
# print(image_url_6)

In [116]:
if len(price_content_6) == 24:
    
    df_6 = pd.DataFrame()
    df_6['Product Name'] = product_name_6
    df_6['Price '] = price_6
    df_6['Rating'] = rating_6
    df_6['Image URL'] = image_url_6
    df_6.style.set_properties( **{'text-align': 'left'}, inplace = True)
    df_6.set_index([[*range(1, 25)]], inplace = True)
    print('________________________________________Mobile Details Under 20,000___________________________________________\n\n')
    print(df_6)
    
else:
    print('Please re-execute')

________________________________________Mobile Details Under 20,000___________________________________________


                                         Product Name  Price   Rating  \
1   Redmi Note 10 Lite Interstellar Black 4GB RAM ...   14999     4.2
2   Samsung Galaxy M12 (Blue,6GB RAM, 128GB Storag...   11499     4.1
3   realme narzo 50A (Oxygen Blue, 4GB RAM + 128GB...   12499     3.8
4   Redmi Note 10S (Deep Sea Blue, 6GB RAM, 64GB S...   13999     4.0
5   OPPO A31 (Fantasy White, 6GB RAM, 128GB Storag...   11490     4.2
6   OPPO A31 (Mystery Black, 6GB RAM, 128GB Storag...   11490     4.2
7   Samsung Galaxy M32 5G (Sky Blue, 6GB RAM, 128G...   16999     3.8
8   Redmi Note 10S (Cosmic Purple, 6GB RAM, 64 GB ...   13999     4.0
9   realme narzo 50A (Oxygen Green, 4GB RAM + 128G...   12499     3.9
10  OPPO A74 5G (Fantastic Purple,6GB RAM,128GB St...   15990     4.2
11  Samsung Galaxy M32 (Light Blue, 6GB RAM, 128GB...   14999     4.2
12  Samsung Galaxy M32 (Black, 6GB RAM, 128GB Stor...   14999     4.2
13  OPPO A74 5G (Fluid Black,6GB RAM,128GB Storage...   15990     4.2
14  realme narzo 30 (Racing Blue, 4GB RAM, 64GB St...   12499     4.1
15  Redmi 9 Power (Blazing Blue, 4GB RAM, 64GB Sto...   11499     4.2
16  Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB ...   12999     4.2
17  Redmi 9 Power (Mighty Black 4GB RAM 64GB Stora...   11499     4.2
18  Samsung Galaxy M21 2021 Edition (Arctic Blue, ...   11999     4.2
19  Samsung Galaxy M32 (Black, 4GB RAM, 64GB Stora...   12999     4.2
20  Samsung Galaxy M32 5G (Slate Black, 6GB RAM, 1...   16999     3.8
21  Redmi Note 10S (Deep Sea Blue, 6GB RAM, 128GB ...   15499     4.0
22  Redmi Note 10 Pro Max (Dark Night, 6GB RAM, 12...   18999     4.1
23  Redmi Note 10S (Frost White, 6GB RAM, 64GB Sto...   13999     4.0
24  Samsung Galaxy M51 (Celestial Black, 6GB RAM, ...   19999     4.4

                                            Image URL
1    https://m.media-amazon.com/images/I/71HDwaQmd...
2    https://m.media-amazon.com/images/I/71r69Y7BS...
3    https://m.media-amazon.com/images/I/71hgVYiuF...
4    https://m.media-amazon.com/images/I/81B0HJigO...
5    https://m.media-amazon.com/images/I/61CnyJ-Ib...
6    https://m.media-amazon.com/images/I/71KCwNV6M...
7    https://m.media-amazon.com/images/I/71os5DRhu...
8    https://m.media-amazon.com/images/I/81sZamLSP...
9    https://m.media-amazon.com/images/I/718CklLKX...
10   https://m.media-amazon.com/images/I/71geVdy6-...
11   https://m.media-amazon.com/images/I/71F4jU7MR...
12   https://m.media-amazon.com/images/I/71Q3iSQAw...
13   https://m.media-amazon.com/images/I/71poFSdDs...
14   https://m.media-amazon.com/images/I/719tm7l72...
15   https://m.media-amazon.com/images/I/71hEzQGO5...
16   https://m.media-amazon.com/images/I/71F4jU7MR...
17   https://m.media-amazon.com/images/I/71hEzQGO5...
18   https://m.media-amazon.com/images/I/811lrGbXw...
19   https://m.media-amazon.com/images/I/71Q3iSQAw...
20   https://m.media-amazon.com/images/I/71QT7dSK4...
21   https://m.media-amazon.com/images/I/81B0HJigO...
22   https://m.media-amazon.com/images/I/81Vpy0Xrv...
23   https://m.media-amazon.com/images/I/81SJHWh-d...
24   https://m.media-amazon.com/images/I/713AhSUtb...